[2013-01-27 23:33] alanshaw opened #1 "Set correct cache headers status uptodate/outofdate graphic"
Also for status page.

[2013-01-28 19:33] alanshaw opened #2 "Add some stats to the homepage"
Maybe:
- Most dependencies
- Recently accessed
- Recently updated

[2013-01-28 21:20] alanshaw opened #3 "Add includes to HTML pages for code reuse"
The grunt-replace plugin works pretty well...

[2013-01-28 21:52] alanshaw opened #5 "Fix error responses"
Errors are sent back to the browser as JSON - they should be sent as a HTML page.

[2013-01-28 22:05] olizilla opened #6 "Summary is buried under dependencies table"
On any substantial project, the dependencies summary will get lost beneath a long and growing table. I think it's the first thing you'd want to see as a project owner, so I'm voting for putting at the top...

![david-dm-say-dependency-again-i-dare-you](https://f.cloud.github.com/assets/58871/104929/9a4cea2c-6996-11e2-8031-dddfd15aa901.png)

![david-dm-pls-can-has-summary-above-table](https://f.clo

[2013-01-29 00:15] #1 closed, assigned to nobody

[2013-01-29 13:39] #6 closed, assigned to nobody

[2013-01-29 13:54] olizilla opened #8 "A published rc shouldn't cause the stable version to be out of date."
I'd argue that a 0.9.x library is still 'up to date' when 1.0.0-rc.y is released.

As the arbitrator of good project health, I don't think David should encourage people to update to release candidates.

[2013-01-29 23:03] #5 closed, assigned to alanshaw

[2013-01-31 09:16] alanshaw opened #10 "Add favicon"
I saw a piece of code where someone called express.favicon(); Investigate.

[2013-01-31 22:52] Raynos opened #11 "API should be consistent with other services"
Both testling and travis use `{{project}}.png`. It would be nice if you supported that HTTP API because I have OCD and it looks prettier then `{{project}}/status.png`

[2013-02-01 01:18] Raynos opened #12 "git uris are not out of date"
http://david-dm.org/Colingo/event-type-list

You should filter those out and not treat them as out of date.

[2013-02-01 07:45] #11 closed, assigned to nobody

[2013-02-01 13:33] alanshaw opened #13 "Badge for unknown status"
If you ask for a badge for a reop that is a 404 or not public, David should send back an "Unknown" badge.

[2013-02-02 13:31] #10 closed, assigned to nobody

[2013-02-05 07:34] #3 closed, assigned to nobody

[2013-02-05 19:36] olizilla opened #14 "A pinned version shouldn't be considered out of date"
Explicitly defining a version, without the ~ prefix, should be read as _"I want this and only this version, they authors have gone mad and cannot be trusted, I'll probably switch out that lib at some point, but right now I don't care and the current version is good enough."_

In the normal run of things, you'd hope developers would want the latest security patches, bug fixes, as such the ~ prefix

[2013-02-07 15:04] #8 closed, assigned to nobody

[2013-02-07 15:05] #12 closed, assigned to nobody

[2013-02-07 15:05] #14 closed, assigned to nobody

[2013-02-07 19:19] alanshaw opened #15 "Easy copy and paste badge codes"
At the very least needs markdown and HTML

[2013-02-08 09:39] alanshaw opened #16 "Page required for explaining concepts on the David website"
What is pinned?

What are the criteria for being "out of date"?

etc. etc.

[2013-02-09 08:51] alanshaw opened #17 "Offer SSL endpoint"
So browsers don't complain about insecure content when badge is embedded on websites.

[2013-02-09 08:53] alanshaw opened #18 "GitHub caching badges on CDN"
GitHub seems to be caching external images on its CDN and rewriting the URLs in your README. This means that when your badge changes colour, it doesn't change colour.

Turning on SSL may solve this.

[2013-02-11 17:05] alanshaw opened #19 "If GitHub is down, David is down"
If David has a cached version of a package.json it should use it if GitHub is down.

[2013-02-11 23:03] #17 closed, assigned to alanshaw

[2013-02-11 23:03] #18 closed, assigned to nobody

[2013-02-12 23:33] #15 closed, assigned to nobody

[2013-02-22 16:08] alanshaw opened #20 "Show project version number on status page"
Status page should show the version number of the project as advertised in the package.json

[2013-02-22 16:15] alanshaw opened #21 "Colour dependency tree nodes according to status"
I guess only level 1 initially, consider other levels.

[2013-02-22 16:23] alanshaw opened #22 "Remove "expires" property from graph.json"
e.g. https://david-dm.org/alanshaw/david/graph.json

Apparently JSON2.decycle doesn't use the toJSON method if defined. Fair enough. Need to find a way to not include this property in the response.

[2013-02-22 17:43] alanshaw opened #23 "graph.js errors when given dependency version range "latest" or a git repo"
e.g.

Failed to get graph data [Error: No versions for options match range latest]
Error: No versions for options match range latest

[2013-02-22 19:52] defunctzombie opened #24 "When dependencies are pinned, no out of date checks are performed."
It seems that when dependencies are pinned. The website detects this and says the status is pinned. However, pinned and out of date are orthogonal concepts. Ideally, a module can be both binned and out-of-date or up-to-date.

[2013-02-22 19:54] marcello3d opened #25 "user profile page: show status of all public projects"
First off, awesome site idea!

It'd be nice to see all public modules for a given user and what's up to date/out of date. This would be particularly useful to see which of my own modules have out of date dependencies.

[2013-02-22 21:51] #23 closed, assigned to nobody

[2013-02-23 18:30] #20 closed, assigned to nobody

[2013-02-24 12:14] #24 closed, assigned to nobody

[2013-02-24 15:28] defunctzombie opened #26 "RSS feed (or some sort of notifications)"
Not entirely sure what all would go into this, but some sort of feed that could let you know about module version changes or such could be very useful. I imagine it would be in conjunction with issue #25 so that a developer can stay on top of important updates easier.

Feed is a bit more passive than notifications.

[2013-02-24 16:46] #22 closed, assigned to nobody

[2013-02-24 17:16] #19 closed, assigned to nobody

[2013-02-24 19:04] alanshaw opened #27 "Listen for hashchange so when press browser back button view switches from table -> tree and vice versa"

[2013-02-27 04:16] Raynos opened #28 "When does david refresh it's information?"
http://david-dm.org/Raynos/by

It currently shows v0.2.1 when v0.2.3 is the latest version on both github & npm.

[2013-02-27 19:16] alanshaw opened #29 "View dependency status for branch/tag"
David currently only looks at master. Allow view status page and get badge for branch or tree.

[2013-02-27 22:08] #27 closed, assigned to nobody

[2013-03-01 12:34] #2 closed, assigned to alanshaw

[2013-03-02 10:21] alanshaw opened #30 "Show devDependencies on status page"

[2013-03-08 11:00] #30 closed, assigned to alanshaw

[2013-03-08 15:36] alanshaw opened #31 "Status badge for devDependencies"
You should be able to embed a status badge that represents your devDependencies seeing as you can now view them on your status page.

Additionally when flicking from dependencies to devDependencies view on the status page the badge should change to reflect the current dataset you're viewing.

[2013-03-10 14:15] alanshaw opened #32 "Long project names cut off in tree view"
Projects with long names are cut off on the left hand side when viewing dependency tree.

[2013-03-15 08:21] alanshaw opened #33 "Click through to NPM website from dependency count bubbles on homepage"
Each bubble should link to its page on npmjs.org

[2013-03-15 13:07] #33 closed, assigned to nobody

[2013-03-31 08:19] alanshaw opened #34 "Use process.title"
Use process.title to distinguish David from other long running node processes.

[2013-04-01 13:38] #34 closed, assigned to nobody

[2013-04-03 21:40] #31 closed, assigned to nobody

[2013-04-17 06:35] alanshaw opened #35 "Persist stats"
When restarting the website, we lose all the useful stats because they are kept in memory. Persist them to a redis perhaps?

[2013-04-17 06:36] alanshaw opened #36 "Project health visualisation"
This is kind of a placeholder for ideas and improvements that can be made to david to better visualise project health.

[2013-04-18 13:31] alanshaw opened #37 "Put david devDependencies in devDependencies section of package.json"
Currently they are all in "dependencies".

[2013-04-18 18:29] #37 closed, assigned to nobody

[2013-04-19 10:42] #13 closed, assigned to nobody

[2013-04-23 06:56] alanshaw opened #38 "Allow popular module pack graph to spill into right hand column on homepage"
Currently it is restricted to the left hand column.

[2013-04-23 11:36] #38 closed, assigned to nobody

[2013-04-24 10:53] alanshaw opened #39 "Search popular modules d3 graph"
It would be great if you could search for NPM modules and get a d3 bubble graph of module popularity similar to the bubble graph on the homepage.

[2013-05-02 08:55] #39 closed, assigned to nobody

[2013-05-02 08:56] alanshaw opened #40 "Stablalise the search"
Under certain situations search appears to crash the website. Notably when the index is rebuilt and more than one user is searching.

[2013-05-17 10:02] alanshaw opened #41 "Gzip content"
Express is not currently setup to compress content, this should be an easy fix by adding the compress middleware http://expressjs.com/api.html#compress

[2013-05-25 19:04] #26 closed, assigned to alanshaw

[2013-05-25 19:12] #41 closed, assigned to nobody

[2013-06-11 18:13] alanshaw opened #42 "Enable test coverage reporting"

[2013-06-16 15:07] dylang opened #43 "Server is down..."
The icon is broken image because of this.

I wish they separate Node instances so one being down wouldn't effect the other.

[2013-06-17 07:56] #43 closed, assigned to nobody

[2013-06-21 00:51] ralphtheninja opened #44 "private repos"
Would it be possible to use this on private repositories as well? Perhaps you could authenticate david-www with oath or something so the package.json can be retrieved?

[2013-07-10 19:41] alanshaw opened #45 "Search from the homepage"
Finding things is helpful, the search utility can only be accessed from the site footer, how about put the search bar on the homepage to make it easier to find the search? How meta.

@stubbornella is agree https://twitter.com/stubbornella/status/355016097977737216

[2013-07-10 19:56] alanshaw opened #46 "Update search "q" query string param post search"
Nobody knows you can add ?q=searchterm to the URL to perform specific search on page load. Change on search so people can copy/paste URL.

[2013-07-11 17:41] seriema opened #47 "Notification when a new version is out"
I was just about to start coding a website service much like this! Except it does it differently: it emails the author when there's a new version available. So you don't have to manually check the status.

Is this something you're considering or should I go for it?

[2013-07-16 18:52] alanshaw opened #48 "Badge colour always green when all dependencies pinned"
At the moment David considers tags, absolute versions (i.e. not semver ranges) and URLs as pinned dependencies. The idea being that the author wants to use a specific version because higher versions don't contain the same functionality (the author doesn't have a choice not to use the dependency at that version) or because it is a custom build of the module (for a URL dependency) or for some other

[2013-07-19 05:52] #46 closed, assigned to nobody

[2013-07-26 10:32] alanshaw opened #49 "Badge for zero dependencies"
Currently shows up to date badge.

[2013-07-28 20:40] andreineculau opened #50 "rename "Dependencies" to "deps""
having the whole word in the badge doesn't gain anything, it just wastes space, since all devs know what `deps` mean

this could also help with #32, indirectly

[2013-08-17 02:55] nschonni opened #51 "Where should peerDependencies appear?"
I noticed that peerDependencies don't seem to be picked up. Does it make sense to have them under devDependencies, dependencies, or their own tab?

[2013-09-15 13:38] XhmikosR opened #55 "Add "alt" in badges"
Not trivial but the every image must have an "alt" tag.

[2013-09-18 04:00] nschonni opened #56 "Link version numbers to GitHub releases page"
https://github.com/blog/1547-release-your-software
So the a package with a david dependency of "2.1.1" would link to https://github.com/alanshaw/david/releases/tag/v2.1.1
I guess this would only work for packages where the repository is on GitHub

[2013-09-24 18:25] XhmikosR opened #57 "Add img width and height to badges"

[2013-09-24 18:34] #55 closed, assigned to nobody

[2013-10-01 10:48] XhmikosR opened #61 "Improve Expires headers"
It seems that css, js, png and jpg files don't have an expires headers properly set.

[code]

[2013-10-01 15:54] XhmikosR opened #63 "version in footer improvement"
The color in `ft.small.span` isn't very good on the white background. Can you change it to a little darker for the version?

[2013-10-07 08:59] XhmikosR opened #65 "Changelog error"
[code]

[2013-10-07 17:43] #65 closed, assigned to nobody

[2013-10-07 17:48] #63 closed, assigned to nobody

[2013-10-08 14:57] alanshaw opened #66 "Closed issues not sorted correctly"
Closed issues in the changelog popup are not sorted by date DESC.

[2013-10-09 10:44] #61 closed, assigned to nobody

[2013-10-10 16:05] #66 closed, assigned to nobody

[2013-10-11 18:26] XhmikosR opened #68 "Add proper support for expires header and cache control"
My bad I didn't see https://github.com/alanshaw/david-www/commit/46c8c0d8243175369cf76e482af46346f6507b46

[2013-10-11 18:32] XhmikosR opened #69 "changelog external links"
Maybe the external links to github should open to a new tab?

[2013-10-11 18:37] XhmikosR opened #70 "Invalid generated link for package"
[code]

[2013-10-13 17:19] alanshaw opened #71 "Use websockets to update right hand colum on homepage as things change"

[2013-10-18 18:14] farolfo opened #73 "Fail to install rep: "Error: ENOENT, lstat ...""
I've just clone the repo and did npm install and got the next issue, I'm pasting the log

46511 verbose about to build /Users/farolfo/Projects/Personal/david-www/node_modules/grunt-browserify/node_modules/browserify/node_modules/umd
46512 info /Users/farolfo/Projects/Personal/david-www/node_modules/grunt-browserify/node_modules/browserify/node_modules/umd unbuild
46513 info preuninstall umd@1.3.1

[2013-10-19 02:49] XhmikosR opened #74 "Console errors first time the website is accessed"
These warnings only show up when I do a clean `grunt && node .`.

[code]

The first and the last one are expected I guess. But the other 3 are weird... and they go away the second time I access `http://127.0.0.1:1337/`.

Not sure if it's something to worry about but I thought I'd report it.

Here is my cmd output:

[code]

[2013-10-19 02:56] XhmikosR opened #75 "Wrong description for renamed repository"
https://david-dm.org/mpc-hc/mpc-hc.org

David says "mpc-hc - mpc-hc-website 0.1.5". Where does it get that info from?

Note that I did rename the repository from "website" to "mpc-hc.org" a month or so ago.

[2013-10-19 02:57] #75 closed, assigned to nobody

[2013-10-20 16:09] #74 closed, assigned to nobody

[2013-10-20 22:18] #73 closed, assigned to nobody

[2013-10-21 10:28] XhmikosR opened #77 "d3 graph fails to load on the website"
...but locally it works

I see this error in console:

[code]

[2013-10-21 16:16] #77 closed, assigned to nobody

[2013-10-21 16:40] XhmikosR opened #79 "Handle unregistered authors better in changelog"
http://i.imgur.com/NdpeTSx.png

In a similar use case I do [this](https://github.com/danmar/cppcheck/blob/master/htdocs/site/js/github.js#L26).

Maybe link to the github commit in the avatar link if the user is unregistered. Also might be good to change img alt to "Avatar" or "User" in this case.

[2013-10-22 10:37] XhmikosR opened #82 "Swithing tabs deps/devDeps doesn't work with IE<9."
None of the status page tabs work with IE < 9, like IE 8; the links are clickable but do nothing.

Not sure if you care about that, but I thought I'd report it since I noticed it.

[2013-10-27 06:34] iki opened #85 "503 Service Temporarily Unavailable on https://david-dm.org"
needs more reliable hosting?

[2013-10-27 12:10] #85 closed, assigned to nobody

[2013-10-27 12:54] #79 closed, assigned to nobody

[2013-10-27 13:28] #82 closed, assigned to nobody

[2013-10-27 13:30] #69 closed, assigned to nobody

[2013-10-27 13:34] #28 closed, assigned to nobody

[2013-10-31 14:20] seriema opened #91 "Refresh the status buttons"
I believe that David used to reload the package.json from Github when reloading the page?

Anyway I've fixed my dependencies and am too inpatient to have red buttons on my readme...

A simple way would be to just add a button on the David page (in my case https://david-dm.org/seriema/npmalerts).

[2013-11-23 10:45] qraynaud opened #94 "Add support for bitbucket"
It would be cool to have a support for bitbucket too. It's not that different to github and some of us do prefer bitbucket over github :-).

[2013-11-27 04:28] meandavejustice opened #95 "Support for bower?"
Would you be open to accept a pull-request for adding support for checking bower dependencies?

[2013-11-27 04:34] #95 closed, assigned to nobody

[2013-11-28 19:26] johvik opened #96 "Location of package.json"
Is it possible to specify the path to the package.json location in your repo?
I got a project where the package.json file is within a server/ directory.

If not, I think this would be a nice feature :)

[2013-11-28 19:33] #96 closed, assigned to nobody

[2013-12-06 14:41] farolfo opened #97 "Can't run david on local, getting express error"
Hi, I've just forked david and installed it on my local, but when I ran it and tried to curl-it I got the following error

Error: Failed to lookup view &quot;status&quot;
    at Function.app.render (PATH_TO_DAVID/david-www/node_modules/express/lib/application.js:493:17)
    at ServerResponse.res.render (PATH_TO_DAVID/david-www/node_modules/express/lib/response.js:798:7)
    at PATH_TO_DAVID/david-

[2013-12-07 10:40] #97 closed, assigned to nobody

[2013-12-13 08:31] XhmikosR opened #98 "IE 8 error"
I was trying to make IE 8 work sort of and I hit this error when doing `grunt watch`

[code]

This is the line:

[code]

That handlebar directory isn't in dist.

Surprisingly, Firefox and Chrome work.

[2013-12-16 23:04] Krinkle opened #99 "Fancybox close button broken on hidpi screens"
![screen shot 2013-12-17 at 00 02 21](https://f.cloud.github.com/assets/156867/1759909/2a47c09a-66a6-11e3-971f-c90d67d80295.png)

The https://david-dm.org/img/fancybox_sprite@2x.png is apparently being interpreted by the server as a request for a badge:

[code]

[![](https://david-dm.org/img/fancybox_sprite@2x.png)](https://david-dm.org/img/fancybox_sprite@2x.png)

Stretched to 44x152px:

<img src

[2013-12-19 16:04] avetisk opened #100 "Use shields.io for badge"
https://github.com/gittip/shields.io

Standard badges, retina ready, etc.

Would be nice.

[2013-12-21 09:17] #99 closed, assigned to nobody

[2013-12-21 17:04] #100 closed, assigned to nobody

[2013-12-21 17:11] #50 closed, assigned to nobody

[2013-12-24 09:43] XhmikosR opened #102 "Error 503"
Even after 2.12.1 the website returns error 503.

[2013-12-24 10:33] #102 closed, assigned to nobody

[2014-01-03 14:48] johvik opened #104 "Multiple package.json(s)"
Is it possible to get results from a specific directory or even multiple directories in your repo?
For example I got this structure in one of my projects:

server/package.json
client/package.json

If not it would be a nice feature to be able to query something like:
https://david-dm.org/[user]/[repo]/[path]

[2014-01-13 23:28] nschonni opened #105 "Package.json repository shorthand breaks version comparison"
When the shorthand version is used for the `repository` value [like Chalk](https://github.com/sindresorhus/chalk/blob/0a33a270b1e00ae4dea31b8ca368056d6823a148/package.json#L6), the version comparison view fails with:

[2014-01-17 12:59] gberger opened #106 "Give me back my package.json, modified with latest stable versions"
Every couple months I use david-dm to update the dependencies of my projects.

The process goes like:
1. Go to the site and enter my repo
2. Find an out-of-date dependency
3. Look at and remember its latest stable version
4. Find the dependency in my package.json and update it
5. Repeat from (2) until all dependencies are updated

It would be wonderful if the workflow was like:
1. Go to the site a

[2014-01-21 20:58] xaka opened #107 "Add support for bower.json"
I think these days bower.json is as much important as package.json and so it would totally make sense to provide status reports for bower dependencies. We probably could re-use the same status icon sliced in half for bower and npm based on whether both are in use or only one.

[2014-01-27 20:03] zlatanvasovic opened #110 ".editorconfig and indent change"
Is it possible to include `.editorconfig` within project and change the indendation? Tabs look weird on GitHub.

[2014-02-05 18:30] dcrockwell opened #118 "Badge colors & font non-standard"
I love this free service, and for some this may be "shallow and pedantic", but for me; the non-standard font and colors on the badge send an OCD chill up my spine:

![screen shot 2014-02-05 at 11 27 01 am](https://f.cloud.github.com/assets/53482/2090361/56e88ee4-8e93-11e3-9257-fca1a3ceb289.png)

Please, for the love of mothers' backs everywhere...

[2014-02-06 01:21] #118 closed, assigned to nobody

[2014-02-08 21:27] durango opened #120 "Shields @2x would be nice"
https://david-dm.org/CleverStack/cleverstack-cli@2x.png?theme=shields.io

Error: ENOENT, stat 'dist/img/status/shields.io/uptodate@2x.png'

[2014-02-09 11:09] #106 closed, assigned to nobody

[2014-02-09 11:38] #120 closed, assigned to nobody

[2014-02-12 00:26] michaelficarra opened #123 "add optionalDependencies support"
Currently only dependencies and devDependencies are checked. Outdated optionalDependencies shouldn't cause the package to be considered outdated.

[2014-02-12 12:45] throrin19 opened #124 "Add support to gitlab"
I think, it's really helpfull to add support for gitlab server. Since the gitlabs servers are 'private', that is possible by launching David on our servers

[2014-02-24 08:50] XhmikosR opened #130 "Make the shields.io badges the default ones"
I think they look much cleaner so it makes sense to make them the default ones.

What do you think @alanshaw?

BTW, for some reason the travis badge doesn't load in README.md in this repository.

[2014-03-05 06:06] XhmikosR opened #132 "Website Error 503"
I'm getting error 503. @alanshaw: can you have a look?

[2014-03-05 08:25] #132 closed, assigned to nobody

[2014-03-12 11:31] XhmikosR opened #133 ""^" (`&and;`) in version doesn't show right"
Example: https://david-dm.org/twbs/grunt-css-flip#info=devDependencies

[2014-03-12 12:00] XhmikosR opened #134 "Update dependencies"
I open an issue since brfs breaks things, so better have a look yourself @alanshaw.

Example:

[code]

[2014-03-25 18:35] marcello3d opened #136 "Visualize licenses and dependent licenses"
I just posted an update to a [library I built](https://github.com/marcello3d/node-licensecheck) for checking the license of npm dependencies and was thinking it'd be cool to visualize all the licenses a given project depends on...

Which reminded me of david-dm... why build an entirely separate website that has a nearly identical UI?

[2014-03-26 06:53] XhmikosR opened #137 "Dependencies are stuck"
For some reason the site shows old dependencies.

Example: https://david-dm.org/alanshaw/david

npm 1.4.6 is out for instance. This happens for all packages.

[2014-03-26 20:11] #137 closed, assigned to nobody

[2014-04-02 09:53] #134 closed, assigned to nobody

[2014-04-04 07:10] XhmikosR opened #138 "Website returns error 503"
https://david-dm.org/

[code]

[2014-04-04 17:21] #130 closed, assigned to nobody

[2014-05-22 20:29] #133 closed, assigned to nobody

[2014-05-22 20:30] #138 closed, assigned to nobody

[2014-05-30 03:04] DaAwesomeP opened #139 "Add flat-style buttons"
Like at the bottom of [shields.io](http://shields.io/). They could be achieved similarly by adding `?style=flat` to the end of an image request.

[2014-06-02 17:00] #123 closed, assigned to nobody

[2014-06-02 17:02] #51 closed, assigned to nobody

[2014-06-02 17:03] #57 closed, assigned to nobody

[2014-06-02 17:05] #110 closed, assigned to nobody

[2014-06-12 16:15] Maratyszcza opened #140 "DevDependencies page keeps "loading" and never updates"
DevDependencies page for my project ([here](https://david-dm.org/amd/NumJS#info=devDependencies)) keeps showing "loading" icon and never actually updates. In Chrome JavaScript console I see several events that could be the reason:

[code]

[2014-07-01 21:45] janmeier opened #142 "David fails to parse dependency info for sequelize/sequelize"
https://david-dm.org/sequelize/sequelize gives "Failed to get dependency info"

It has been working previously, so I'm not sure what's wrong - perhaps that one of our depencies links to a specific commit in a repo?

[code]

[Package.json](https://github.com/sequelize/sequelize/blob/master/package.json)

[2014-07-02 13:59] #49 closed, assigned to nobody

[2014-07-25 04:07] dstroot opened #144 "Does David-DM support regular git repositories?"
NPM will install this but david-dm is throwing a 404.  The URL works though...

[code]

Searched the open issues but did not see anything - sorry if this is covered elsewhere.

[2014-07-29 15:20] #140 closed, assigned to nobody

[2014-07-29 15:22] #142 closed, assigned to nobody

[2014-07-29 15:37] #144 closed, assigned to nobody

[2014-07-29 18:06] #139 closed, assigned to nobody

[2014-07-30 06:58] SerkanSipahi opened #145 "npm install --> npm ERR! Error: No compatible version found"
we use:
Ubuntu Ubuntu: 10.04.4 LTS
Node v0.10.12

we get an error if we want to install david-www:

cd /path/to/david-www
npm install

npm ERR! Error: No compatible version found: consolidate@'^0.10.0'
npm ERR! Valid install targets:
npm ERR! ["0.0.1","0.1.0","0.2.0","0.3.0","0.3.1","0.4.0","0.5.0","0.6.0","0.7.0","0.8.0","0.9.0","0.9.1","0.10.0"]

npm ERR! Error: No compatible version found: cycl

[2014-07-30 07:04] #145 closed, assigned to nobody

[2014-08-05 21:39] ghost opened #146 "if Bitbucket?"
Silly question but... this could be great for bitbucket also

[2014-08-05 21:41] #146 closed, assigned to nobody

[2014-08-14 18:04] pdehaan opened #147 "add support/notifications for compromised modules"
Not sure how trivial (ha) it would be to ping the https://nodesecurity.io/advisories db when displaying modules to show a big scary warning if a user's currently installed module version is known vuln.

It wouldnt necessarily need to integrate with badges, although it may be nice to see a flashing red banner on your GitHub page if one of your modules is suspicious.

https://nodesecurity.io/validat

[2014-08-19 07:35] ljharb opened #148 "devDependency checks down?"
Although the dependency checks seem fine, the devDependency images aren't resolving, and the pages are infinitely reticulating splines. Is there something broken?

[2014-08-21 08:15] #148 closed, assigned to nobody

[2014-08-25 23:00] alanshaw opened #149 "Implement flat as well as flat-squared style shields.io badge styles"
Currently david has only flat squared.

[2014-09-04 16:24] #149 closed, assigned to nobody

[2014-09-12 19:49] ghost opened #151 "[Question] How can I register an organization?"
When I sign in, it automatically adds my own repos, but I want to watch organization ones. Is it possible at all?

[2014-09-16 08:27] philipgiuliani opened #152 "david-dm hangs with my current repository"
If you open the following link, you will get a timeout after a while... Other repositories are working fine for me.

https://david-dm.org/kim-company/videojs-chromecast

**Update**
It was hanging already yesterday, but now it seems to work! Have you updated something? :)

[2014-09-16 09:46] #152 closed, assigned to nobody

[2014-09-18 14:53] #151 closed, assigned to nobody

[2014-09-22 00:28] simonexmachina opened #153 "Watching dependencies"
I'd really like to be able to have a list of projects that I'm "watching", and to be notified whenever one of these projects is updated.

[2014-09-22 11:54] #153 closed, assigned to nobody

[2014-09-24 08:54] olizilla opened #154 "olizilla is not alanshaw"
WAT IS THE MEANING OF THIS
![screen shot 2014-09-24 at 09 53 07](https://cloud.githubusercontent.com/assets/58871/4385717/4a411da6-43c8-11e4-97b4-4e4c180b707c.png)

;-)

[2014-09-28 17:50] #105 closed, assigned to nobody

[2014-09-28 18:54] #154 closed, assigned to nobody

[2014-10-05 11:35] #147 closed, assigned to nobody

[2014-10-18 14:58] XhmikosR opened #155 "Use https for npmjs.org"
[code]

This saves a redirect for each visited link.

[2014-10-20 20:01] maxwellpeterson-wf opened #156 "Detect unused dependencies"
It would be awesome if it could detect that a dependency listed in the package.json for a project isn't being used anywhere in the project so that it could be removed as a dep.

[2014-10-27 13:17] XhmikosR opened #157 "mikeal/request returns 404"
From the examples shown in https://david-dm.org/

It was moved to https://github.com/request/request. I thought david followed the redirections like GitHub does, but maybe it's not technically possible.

/CC @alanshaw

[2014-10-27 14:54] #157 closed, assigned to nobody

[2014-11-04 12:13] PedroMCostaAndrade opened #158 "Add support for stash"
This is a great feature and will help many projects on stash..

[2014-11-05 03:09] ilanbiala opened #159 "Keep user logged in"
When I navigate away from the website, I have to log in again. It would be nice if OAuth would just remember me.

[2014-11-05 08:39] #156 closed, assigned to nobody

[2014-11-14 20:17] sochka opened #160 "Non-root package.json"
I have a java-webapp. All my JS code including package.json lies in src/main/webapp. Is it possible to somehow tell david-www to look there instead of root package.json?

[2014-11-17 12:50] arikon opened #161 "Wrong badge status in case of pinned deps"
Here is the case:

![2014-11-17 15-48-15 dependency status for lego - enb-islands-tools 0 6 3](https://cloud.githubusercontent.com/assets/75247/5069866/2e176d96-6e71-11e4-8b89-363b9c67ee22.png)

But David shows yellow up-to-date button:

![2014-11-17 15-48-49 dependency status for lego - enb-islands-tools 0 6 3](https://cloud.githubusercontent.com/assets/75247/5069873/418ca774-6e71-11e4-8f33-182ee

[2014-11-28 15:11] boopathi opened #165 "Private repo in Organization is not working"
The image generated using Github, camo.githubusercontent.com, is throwing 404.
Is it looking for authorization into david-dm using the Organization name as the account name ?

Is there any fix for this ?

[2014-11-29 23:14] aivus opened #167 "Profile page contain wrong package names"
https://david-dm.org/aivus

![image](https://cloud.githubusercontent.com/assets/1021703/5236122/1a92637c-782e-11e4-900b-6b37a14adfe2.png)

[2014-12-01 09:18] #167 closed, assigned to nobody

[2014-12-18 16:27] jakub-g opened #170 "Dependency graph hangs Firefox"
Hello,

Loading the main page of https://david-dm.org/ managed to hang my Firefox 34 (Windows 7) for good, I had to kill the process. It seems to me the culprit is the dependency graph at the bottom.

The same happens on a clean Firefox profile. With Firefox Nightly, it freezes the browser for ~8s but at least doesn't hang it forever.

I'm running i7 quad core machine with 8GB RAM.
The same issue

[2014-12-21 19:07] #155 closed, assigned to nobody

[2014-12-26 17:59] #170 closed, assigned to nobody

[2015-01-04 16:49] ilanbiala commented on #159
@alanshaw have you checked this out?

[2015-01-04 16:50] ilanbiala commented on #42
+1 would be really nice.

[2015-01-04 16:50] ilanbiala commented on #36
This would be nice to have.

[2015-01-04 17:49] alanshaw commented on #159
Hi @ilanbiala, your enthusiasm is appreciated but I haven't had time to add this in properly. I did look into it initially a while ago and found that using connect-leveldb has further reaching consequences beyond the code you suggest.

[2015-01-04 17:51] alanshaw commented on #159
...simply meaning that it's not quite as simple as dropping in your code. A pull request would be greatly appreciated.

[2015-01-04 17:54] ilanbiala commented on #159
@alanshaw does leveldb need to be used, or can another db be used instead? What were the issues that you ran into?

[2015-01-13 15:18] ilkkao commented on #104
+1 I've a repo with 2 package.json files

[2015-01-14 17:36] bobbyrne01 commented on #91
:+1:

[2015-01-14 17:39] bobbyrne01 commented on #107
:+1:

[2015-01-18 21:45] sberryman commented on #165
+1 would love to see this for org repos

[2015-01-22 14:16] callicles commented on #107
+1

[2015-01-24 18:00] sheymann opened #173 "Write access to all repositories, seriously?"
Hello,

After clicking on the "sign in" button of the website, the app asks me to grant WRITE permissions to all repositories of all organizations that I'm part of. This is a big security issue for private repositories because the app may have a write access to all repositories if any org member authorize your app.

I'd ideally would pick one repository to grand a READ access. This is enough if I

[2015-01-24 18:06] gravis commented on #173
Github doesn't provide such a oauth scope

[2015-01-24 18:18] sheymann commented on #173
It is @gravis :

![image](https://cloud.githubusercontent.com/assets/177962/5888407/52d4f40a-a3f5-11e4-8510-7b6c493ed280.png)

[2015-01-24 21:36] gravis commented on #173
I meant there's no scope for private read only :(

[2015-01-24 22:00] sheymann commented on #173
ah dammit :-(

[2015-01-25 09:07] alanshaw commented on #173
No, but access should be granted on a per repo basis.

[2015-01-28 09:19] Martii opened #174 "Security vulnerabilities in dependencies"
Your badge system appears to be saying there is a vulnerability in the latest [*marked* 0.3.3](https://github.com/chjj/marked/releases) *(again after the 0.3.2 different notification which was updated on our end)*... but [the link](https://nodesecurity.io/advisories/marked_redos) currently points to a "Page not found"... what's up? TIA

---

![david-marked redos](https://cloud.githubusercontent.co

[2015-01-28 12:56] alanshaw commented on #174
Could you post the link for the page on david-dm.org where you're seeing that?

[2015-01-28 13:01] alanshaw commented on #174
Looks like there's an advisory here that hasn't been published to the node security project website https://github.com/nodesecurity/nodesecurity-www/blob/master/advisories/marked_redos.md

[2015-01-28 18:46] Martii commented on #174
![Using David](https://david-dm.org/OpenUserJS/OpenUserJS.org.png) and [above](https://github.com/alanshaw/david-www/issues/174#issue-55731676) I posted [the link](https://nodesecurity.io/advisories/marked_redos) but there it is again. :)

I do think the badge could be a little more non-alarming on the wording like "security advisories" instead of saying our dependencies are "insecure" too... I'm

[2015-01-29 09:53] alanshaw commented on #174
Patched for now until the advisory is made public on the website.

[2015-01-29 09:53] #174 closed

[2015-01-29 19:49] Martii commented on #174
Thanks... I'll watch for it too.

[2015-01-30 09:31] alanshaw commented on #174
@Martii the advisory has now been published https://nodesecurity.io/advisories/marked_redos

[2015-02-02 07:58] wzrdtales commented on #124
@alanshaw This PR is about Github enterprise, not Gitlab.

It would be great if gitlab api would be chooseable. I will lookup if I can free some time to do it myself.

[2015-02-03 09:50] gabeio commented on #158
It's more like enterprise github which is going to be put behind a firewall and hard to access. Except it's bitbucket's enterprise version.

[2015-02-03 21:39] frankleng commented on #165
+1

[2015-02-06 15:12] ssmereka opened #175 "Does not seem to work with public organization repos."
No repositories are listed when accessing an organization's repositories.

Example:  https://david-dm.org/smartdevicelink

[2015-02-18 20:36] troyastorino opened #176 "badges for private repos"
Love that support was added for private repos on david-dm.com, but I couldn't find a way to have badges for private repos. Is there any way to do this currently?

[2015-02-20 23:31] mzgol opened #177 "Incorrect command for updating optionalDependencies"
[code]

It should say `--save-optional`, not `--save`.

david 6.1.4.

[2015-02-23 11:44] MalcolmK commented on #91
+1

[2015-02-23 22:13] destroyerofbuilds commented on #124
Thank you @wzrdtales!

It would be really nice to see support for [GitLab](https://about.gitlab.com/) in the same way GitHub Enterprise is supported.

I'm not sure the extent of refactoring that will be required to support GitLab in `david-www`. That's one reason I haven't dived into it myself. @wzrdtales if you have an opportunity to work on this enhancement request, please let me know, and I can

[2015-02-26 03:42] ilanbiala opened #178 "Dependencies should be retrieved when starting a new session"
I'm not sure how often dependencies are retrieved, but it seems like the cache on the website is very long. Is it possible to check if the date modified on `package.json` is more recent than when David last generated the table?

[2015-02-26 03:43] ilanbiala commented on #91
@alanshaw can you give some information as to what has to happen here?

[2015-02-26 03:43] ilanbiala commented on #71
@alanshaw any progress on this?

[2015-02-27 11:56] fa7ad commented on #91
+1

[2015-02-27 14:08] wzrdtales commented on #124
Hi,
I just started working on this
https://github.com/wzrdtales/david-www/commit/965a61b1d903beeb56f76243daafafc448127b8e

There is a lot to redesign, I will do this by writing an abstraction for the gitlab interface to fit the github interface.

This commit is already enough to access the repository, replacing in manifest.js the ./github require with ./gitlab

I will try to get this thing on the

[2015-02-27 17:54] wzrdtales commented on #124
@destroyerofbuilds Ok, it's in there, currently the gitlab package doesn't cover all functionality. So i stop here for now.

The gitlab repos are accessable over /r/gitlab/:user/...

Basically it can now just access the repo and resolve the dependencies. No user listing, no group listing, no sign in. But this is currently due to the lack of functionality in the gitlab package. Also I don't want ri

[2015-03-02 19:36] destroyerofbuilds commented on #124
@wzrdtales, so far it works great!

I have it running against a GitLab instance.

Just a note, on the following line, I had to change `"develop"` to `"master"` for it to fetch `package.json` files correctly.

https://github.com/alanshaw/david-www/compare/master...wzrdtales:gitlab#diff-3d720a7af744286be3b1627fe3391e03R34

[2015-03-02 19:38] destroyerofbuilds commented on #124
@alanshaw, question about moving foreword with this enhancement: Should we continue to work against @wzrdtales's branch, or maybe merge in what he has into a `gitlab` branch on this project?

When do we consider the gitlab enhancement done?

[2015-03-02 19:41] wzrdtales commented on #124
I'm happy it helps you. I did forgot about the default branch, we're utilizing the gitlfow so I choosed the develop branch here.

I will make this configureable :)

For notice: i haven't opened a merge request for this, as this request is not complete. It can access repositories but not users. This is due to missing functionality in node-gitlab, I haven't the time yet to implement it myself.

Also

[2015-03-02 19:43] wzrdtales commented on #124
Pushed optionality to configure default branch.

[2015-03-03 16:42] destroyerofbuilds commented on #177
@mzgol, could this request be re-filed under the [david](https://github.com/alanshaw/david) project?

[2015-03-03 18:13] mzgol commented on #177
Ah, sorry, my mistake. Migrated to https://github.com/alanshaw/david/issues/70

[2015-03-03 18:13] #177 closed

[2015-03-03 20:51] #29 closed

[2015-03-11 09:36] moul commented on #124
Hi everyone, I'm one of the maintainer of [node-gitlab](https://github.com/node-gitlab/node-gitlab)

We are working to get node-gitlab/node-gitlab#75 fixed, so you will be able to use it, do not hesitate to ping me if I can help

[2015-03-13 09:08] joestump commented on #176
You need to basically hack the URL near as I can tell. If you go to `https://david-dm.org/myorganization/secret-repo`, you'll find your private repo's dependency status and badge. There's also a place to snag the badge on that page:

![2015-03-13 at 9 04 am](https://cloud.githubusercontent.com/assets/37667/6635619/f6a88bfc-c95f-11e4-9013-ceb1ff7e2f41.png)

Sadly, it doesn't appear to be working fo

[2015-03-13 09:10] joestump commented on #176
Appears this bug was filed in #165. I'll cross post my comment over there.

[2015-03-13 09:10] joestump commented on #165
Count me as another :+1: I've done [some digging](https://github.com/alanshaw/david-www/issues/176#issuecomment-78879202) and posted the results to #176.

[2015-03-18 10:49] mauvm commented on #175
Having the same issue.

[2015-03-22 12:56] alanshaw commented on #178
There's two caches in david-dm.org:

Firstly, your package.json file is cached for an hour to ensure david keeps within the github rate limits. We could lower this if we leverage [conditional requests](https://developer.github.com/v3/#conditional-requests). I'd be really happy to accept a pull request that adds this!

Note that when you publish to npm, david will automatically [expire any cached p

[2015-03-22 20:40] joshuahiggins commented on #107
+1

[2015-03-23 03:33] pine613 commented on #107
+1

[2015-03-23 05:15] ash2k commented on #173
Take a look at how https://coveralls.io is doing this - by default it requests read-only access to the public repos, but later one can get private repo support by upgrading OAuth token (i.e. granting more permissions).

[2015-03-25 07:34] alanshaw commented on #178
I've just published a new version of a package and it looks as though david isn't currently expiring the cached package.json for the project - will investigate

[2015-03-26 19:08] marcellodesales opened #183 "Cannot "npm install": Cannot find module 'david-www/node_modules/level-session/node_modules/generic-session/node_modules/keygrip/install.js'"
Hi there,

I'm trying to build david and I cannot :(

[code]

The install keeps going and fails with the node-gyp error... But it exists..

[code]

I have all the needed dependencies:

[code]

What else could that be? I'm on RHEL 6.5...

thanks!
Marcello

[2015-03-31 07:13] kytwb commented on #94
Bump :+1:

[2015-04-03 13:31] alvincrespo commented on #165
:+1:  This would be super awesomesauce.

[2015-04-08 22:25] winniehell commented on #91
:question: :+1:

[2015-04-08 22:27] winniehell commented on #91
related issue:  #28

[2015-04-15 22:15] pascalduez opened #184 "`flat-square` style"
The `flat-square` style does not seem to work anymore, no visual changes with the kinda rounded default one.

[2015-04-21 21:19] mnquintana commented on #104
:+1: Definitely would love to see this added for the same reasons.

[2015-04-21 21:24] procod3R opened #185 "SSL , ???"
<a href="http://imgur.com/aSNqrv4"><img src="http://i.imgur.com/aSNqrv4.png" title="source: imgur.com" /></a>

[2015-04-21 21:27] mnquintana commented on #185
Getting the same here too.

[2015-04-24 09:13] sanemat commented on #185
me too. chrome says:

[code]

[2015-04-24 14:27] ChristopherHackett commented on #185
Guess it's related to https://plus.google.com/u/1/+IlyaGrigorik/posts/2hPkDkx2pEg and using SHA1

[2015-04-27 18:05] dotproto opened #186 "Add status bar color meanings to an FAQ"
## Background

Let me start of by saying I'm new to David. I don't know too much about the project, but I've seen a handful of packages with "dependencies" tags on their GitHub READMEs.

For some reason, though, I keep seeing projects that are "up to date" with yellow tags and I have no idea what that means.
## User Story

As a user not familiar with David, I want a reference page that describes t

[2015-04-27 20:39] alanshaw commented on #185
Fixed!

[2015-04-27 20:39] #185 closed

[2015-04-29 16:36] ismay commented on #44
Any news on this issue? Is it a `wontfix` because it requires users to give access to private code?

[2015-04-29 21:43] alanshaw commented on #184
Fixed in https://github.com/alanshaw/david-www/commit/90de23267b236d04b7e7c09efe4ba729a9d1fcb1

[2015-04-29 21:43] #184 closed

[2015-05-06 08:05] solygen opened #187 "user profile page: most used dependencies"
enhancement: add user's most used dependencies

[2015-05-07 16:27] WeManMbernard commented on #165
:+1:  to #176

[2015-05-13 16:16] saibotsivad commented on #175
This issue still exists.

[2015-05-13 16:29] saibotsivad commented on #175
Without having tried to run it locally, it looks like the issue is on https://github.com/alanshaw/david-www/blob/master/lib/profile.js#L30

The [Github API](https://developer.github.com/v3/repos/#list-organization-repositories) says "get users repos" is different than "get orgs repos", so the [github module](https://www.npmjs.com/package/github) has a different call for [getTeamRepos](http://miked

[2015-05-14 10:06] htanjo commented on #175
I found this could fixed removing `type: "all"` in [profile.js#L30](https://github.com/alanshaw/david-www/blob/v9.4.0/lib/profile.js#L30).

@saibotsivad,
Yes, GitHub has different API for organization, but `repos#getFromUser` can also return org repos. For example: https://api.github.com/users/github/repos
-> This returns "github organization" repos.

@alanshaw,
I'm not sure it works perfectly or

[2015-05-14 10:11] alanshaw commented on #175
Hey, thanks, please send a PR and I'll double check :)

[2015-05-14 15:18] saibotsivad commented on #175
I booted up david-www and checked that patch and it works great. Thanks, @htanjo!

[2015-05-14 15:23] #175 closed

[2015-05-15 02:10] htanjo commented on #175
No problem! Glad to solve this. :smile_cat:

[2015-05-19 17:35] outaTiME commented on #159
please, im unable to check deps in my private repos =(

[2015-05-22 04:22] ssmereka commented on #160
:+1: This feature would be helpful!

[2015-05-22 04:35] ssmereka commented on #160
Maybe add a URL parameter to specify the package.json path manually, like this:

**Repo's package.json location:**   /server/package.json
**www-david url:**  https://david-dm.org/smartdevicelink/sdl_shaid.svg?manifest=%2Fserver%2Fpackage.json

This would only require to pass in the parameter to the [getManifest](https://github.com/htanjo/david-www/blob/master/lib/profile.js#L64) method and then us

[2015-05-22 13:00] maxrimue opened #190 "Wrong security information"
My module depends on express, which is currently in version 4.12.4.
On the [dependency site of my repo](https://david-dm.org/maxrimue/homeworkjs), it says that there are "security vulnerabilities in dependencies", and it tells me that there's a problem with express, and also shows me a [link to the Node Security Project](https://nodesecurity.io/advisories/express-no-charset-in-content-type-header)

[2015-05-22 13:14] alanshaw commented on #190
You need to change your version range to not include the vulnerable version - ^4.5 should probably work

[2015-05-22 13:34] maxrimue commented on #190
Thanks!

[2015-05-22 13:34] #190 closed

[2015-07-03 13:41] gabro commented on #165
+1, any updates on this?

[2015-07-12 22:06] identy commented on #107
+1

[2015-07-13 14:45] BigstickCarpet opened #194 "The API does not support CORS"
The API doesn't currently honor [CORS preflight requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests), so the API can't be called via AJAX.   Trying to call the API via something like jQuery, Angular, Backbone, etc. results in an error:

![screen shot 2015-07-13 at 9 40 06 am](https://cloud.githubusercontent.com/assets/3453903/8652243/465fe210-2943-1

[2015-07-22 18:37] mstuart commented on #107
+1

[2015-07-29 01:53] dsernst commented on #165
:+1:

[2015-07-29 22:43] bluelnkd commented on #107
+1

[2015-07-30 19:36] destroyerofbuilds commented on #107
Cross referencing alanshaw/david#34

[2015-08-03 14:45] listepo commented on #124
+1

[2015-08-06 10:04] tusbar commented on #165
:+1:

[2015-08-07 11:58] Reinmar opened #196 "Fails to parse GitHub URLs (no badge, no status page)"
Check e.g.:

* https://david-dm.org/wwalc/test-7aug-2
* https://github.com/wwalc/test-7aug-2/blob/master/package.json#L29-L30

I would expect that [GitHub URLs](https://docs.npmjs.com/files/package.json#github-urls) will always be green.

[2015-08-08 11:22] #194 closed

[2015-08-08 11:50] alanshaw commented on #196
Should now be fixed :)

[2015-08-08 11:50] #196 closed

[2015-08-08 14:29] Reinmar commented on #196
Thanks! Confirmed that it works fine.

[2015-08-13 22:06] VladaPetrovic commented on #165
:+1:

[2015-09-03 17:45] lijunle commented on #104
See #160 and #192

[2015-09-09 16:58] etiktin opened #197 "The service seems to be down"
The website and the service take forever to load. The shields are broken because of it.
![image 1](https://cloud.githubusercontent.com/assets/4381579/9768552/12131b18-572d-11e5-86c3-d1e58da931c5.png)

[2015-09-09 21:07] alanshaw commented on #197
Sorry about that. The site has been steadily getting more and more traffic and I think this has been the reason for the poor response times recently. I've made some architecture changes to deal with the load and hopefully it'll now be better.

[2015-09-09 21:29] etiktin commented on #197
Everything seems to be working properly.
Thank you for the quick response and this awesome service :)

[2015-09-09 21:29] #197 closed

[2015-09-16 04:38] levbrie commented on #165
:+1:

[2015-09-20 20:39] grabbou commented on #104
We have the same issue in este with 3 repos, common, web, native. CC: @steida. A big +1, if any help is needed, feel free to ping me. Would love to help to make it happen!

[2015-09-28 07:32] timbru31 commented on #165
:+1:

[2015-10-01 22:43] frodosamoa commented on #165
:+1:

[2015-10-04 22:51] timbru31 opened #199 "i18n"
What node modules are providing an i18n interface?
json? xml? yaml?

[2015-10-05 16:38] edmorley commented on #48
Or at least give us the option to override the default behaviour - eg another parameter in the badge URL :-)

Without this, the badges are somewhat useless to us at the moment sadly.

[2015-10-05 19:45] timbru31 commented on #199
Lol, I wrote an issue on the wrong tab. Meant to do this on my project.
Sorry :lollipop:

[2015-10-05 19:45] #199 closed

[2015-10-09 16:00] tfrearson commented on #165
+1

[2015-10-09 17:35] craigrich commented on #165
+1

[2015-10-13 15:51] sunrenliang opened #201 "refresh issue when remove the # from URL"
I use $locationProvider to remove the # from the URL:
1.Set up your base href in head: base href="/"
2.Add following in your angular app config : $locationProvider.html5Mode(true)

After that, click any menu item, then press F5 to refresh page, the nav bar disappear.

[2015-10-14 09:21] wmmihaa opened #202 "Doen't work for repos with dots "." in the name"
Such as https://david-dm.org/microServiceBus/microservicebus.host

[2015-10-14 14:36] alanshaw commented on #202
david-dm.org doesn't yet work with non root package.json files, there is a PR open to address this: https://github.com/alanshaw/david-www/pull/192

When I get a second I'll merge and release :(

The issue is not because of the dot!

[2015-10-14 14:36] #202 closed

[2015-10-14 14:36] alanshaw commented on #202
https://github.com/alanshaw/david-www/issues/160

[2015-10-15 15:17] tomekwi commented on #160
:+1: A must have for monorepo projects like https://github.com/babel/babel, https://github.com/facebook/react or my https://github.com/parametric-svg/-.

[2015-10-15 16:47] ryaneof commented on #165
+1

[2015-10-21 09:54] typhonrt opened #203 "Add JSPM dependency support"
Greets,

I like this project! I'm curious how hard it would be to add JSPM (www.jspm.io) support. It's a package manager on the edge of popularity and having increasing uptake. While it manages / installs NPM and Github repos it would be awesome to add to David support for NPM packages. Below is the package.json for one of my repos (Backbone-ES6):

[code]

As you can see under the `jspm` hash is a

[2015-10-22 11:00] evilebottnawi commented on #124
+1

[2015-10-31 21:36] dbkaplun opened #208 "502 Bad Gateway"
[code]

[2015-11-01 11:50] alanshaw commented on #208
Thanks for reporting. The Node Security project renamed the repo where security advisories live and there was no null checking around the code that iterates over the data. This was fixed in https://github.com/alanshaw/david-www/commit/dae6680eddcf9da422800e4cb81a4095bc37be05 and the site is now back up.

[2015-11-01 11:50] #208 closed

[2015-11-06 13:04] popomore commented on #124
@wzrdtales the problem of node-gitlab is fixed, are you going to make a PR?

[2015-11-06 14:54] wzrdtales commented on #124
@popomore I could do so, it is still incomplete to quote myself

It only supports the most important thing: resolving dependencies of your projects, but is lacking of the user listing and so on. If this does not matter I can open it as a PR no question.

[2015-11-09 18:45] alanshaw commented on #104
Hi all,

This has landed in david-www@12.0.0
http://davidiswatching.tumblr.com/post/132882415144/non-root-packagejson

Enjoy :smile: :rocket:

[2015-11-09 18:45] #104 closed

[2015-11-09 18:46] alanshaw commented on #160
Hi all,

This has landed in david-www@12.0.0
http://davidiswatching.tumblr.com/post/132882415144/non-root-packagejson

Enjoy :smile: :rocket:

[2015-11-09 18:46] #160 closed

[2015-11-09 21:35] alanshaw opened #212 "david-dm.org redesign/refresh"
david-dm.org has looked the same for nearly 3 years now, and it's starting to feel a little dated. Is there anyone who is or knows someone who'd be willing to donate some time to make david look nice again?

[2015-11-10 00:36] steida opened #213 "Error occurred, but it worked"
https://david-dm.org/este/este

[2015-11-10 10:10] alanshaw commented on #213
What error occurred?

[2015-11-10 14:21] steida commented on #213
It works already, I think there is a parsing issue. See commit https://github.com/este/este/commit/f4beaed14fa0d626c7d0214f1a68538969c97d35

[2015-11-12 08:56] #213 closed

[2015-11-16 13:01] ravenjohn commented on #165
+1

[2015-11-16 17:46] gabrielcsapo commented on #212
:hand: this guy, we use it at work and I appreciate the effort put in. PM designs?

[2015-11-16 17:47] gabrielcsapo commented on #165
I have fixed this for an internal server we are running, will put a pull request in.

[2015-11-16 17:48] gabrielcsapo commented on #165
I have this fixed for my internal integration, will submit a PR.

[2015-11-20 08:24] alanshaw commented on #212
That's awesome news! I'm alan138 at gmail - lets talk!

[2015-12-09 20:50] OverFlow636 commented on #165
:+1:

[2015-12-11 09:40] valendesigns commented on #158
:+1:

[2015-12-13 11:13] RomanGotsiy commented on #203
+1

[2015-12-16 13:18] wision commented on #124
+1

[2015-12-21 07:49] christianharke commented on #165
+1

[2016-01-02 15:13] satazor commented on #178
@alanshaw I'm still getting the same issue as the OP stated. I'm publishing new versions and DM takes way too long to update them. I don't think your commit actually fixed the issue. :(

[2016-01-03 13:45] alanshaw commented on #178
Thanks for the heads up @satazor - would you be willing to look into the problem and submit a patch?

[2016-01-03 13:54] satazor commented on #178
Yes I think I can take a look at that. Could you point me the part of the project where the "update" hook gets performed?

[2016-01-03 13:55] alanshaw commented on #178
I think you need to look here: https://github.com/alanshaw/david-www/blob/master/lib/manifest.js#L191

[2016-01-04 22:39] dejanfajfar commented on #203
+1

[2016-01-06 13:50] edmorley opened #231 "karma-jasmine's 'latest' version is actually older than shown for 'stable'"
On https://david-dm.org/mozilla/treeherder#info=devDependencies , karma-jasmine's latest version is listed as 0.1.6, whereas 'stable' is listed as 0.3.6, which is actually newer.

[2016-01-23 03:09] donny-dont opened #240 "Possible to use with Github Enterprise?"
I wanted to give David a go on our internal network. It looked like in the config.js that you could specify your own server, we also have a Sinopia instance running with our private packages. Is this possible currently?

[2016-02-06 21:36] momsse commented on #165
:+1:

[2016-02-16 13:22] bman654 commented on #165
I checked how Travis-CI badges work for private repos.  The answer is they embed an auth token in the image url so that there isn't a dependency on a session:

```https://travis-ci.com/OrgName/repo-name.svg?token=XxXxXxxXXxxxXxxXX&branch=master```

[2016-02-17 16:45] JordanGout commented on #124
+1

[2016-02-19 02:56] donny-dont commented on #159
@alanshaw any chance this is related to https://github.com/rvagg/node-generic-session/issues/2? Things seem to time out pretty quick for me and I'm wondering if its related. The current node-level-session package.json is locked to 0.0.2 so it doesn't have the fix.

[2016-02-19 07:55] alanshaw commented on #159
Looks like it might be

[2016-02-19 08:19] #240 closed

[2016-02-19 15:23] msaspence commented on #165
:+1:

[2016-02-19 18:20] donny-dont commented on #159
@alanshaw I can confirm that this is the issue. I went ahead and ran a `npm shrinkwrap` and then manually modified the value of `generic-session` used to `0.1.1`. I deployed the server and then left for the evening. Coming back in the morning my session was still there.

[2016-02-20 22:20] sampsakuronen commented on #165
:+1:

[2016-02-22 08:33] phoenisis commented on #124
+1

[2016-02-23 16:59] hfalk commented on #165
+1

[2016-02-24 19:49] donny-dont commented on #159
@alanshaw dependencies were updated on node-level-session so I think this would be good to go now.

[2016-02-25 08:16] #159 closed

[2016-02-25 08:20] alanshaw commented on #159
I've [updated the dependency](https://github.com/alanshaw/david-www/commit/2719213c91aaf71520a3ff54d7810c926fc103cc) and redeployed the site - please let me know if you still see the problem. Thanks for your input everyone on this!

[2016-02-25 08:27] alanshaw commented on #201
This is not an angular app, have you posted in the correct repo?

[2016-02-25 08:27] #201 closed

[2016-02-25 08:36] alanshaw commented on #98
Yes, I don't think this is worth investigating!

[2016-02-25 08:36] #98 closed

[2016-02-26 08:41] #178 closed

[2016-02-27 04:45] antonybudianto commented on #203
+1

[2016-02-27 11:02] kazazor commented on #91
@alanshaw said in #28 :

And then also said:

So I'm a little bit confused on what's the behavior right now?

A) package.json files from GitHub are cached for 1 hour. Version information from NPM is cached for 1 day **AND** David now uses couchwatch to invalidate it's cache when new module versions are published.
**OR**
B) Just David now uses couchwatch to invalidate it's cache when new module ver

[2016-02-29 22:56] coldacid commented on #94
@alanshaw on a high level what changes would be needed to support Bitbucket repos in david?

[2016-03-06 11:58] VladaPetrovic commented on #165
Any update on this?

[2016-03-07 15:04] fengmk2 commented on #124
Any progress?

[2016-03-14 08:07] #183 closed

[2016-03-23 18:39] #91 closed

[2016-03-24 17:24] fa7ad commented on #91
@alanshaw #270 is great for now. But how about connecting to Git Hooks *AND* refresh only when the user is **logged in and pushing**.

[2016-03-25 13:35] bashaus opened #274 "Upload package.json file to test dependencies"
Instead of having to use GitHub, it may be an interim solution to be able to upload a package.json file and review the dependencies.

[2016-03-25 14:30] alanshaw commented on #274
Or just use the David command line tool

[2016-03-30 11:35] #274 closed

[2016-03-30 12:49] alexandresaiz opened #275 "Sponsoring David"
hey,
Can we sponsor https://david-dm.org/ ?

best!

[2016-03-30 12:51] alanshaw commented on #275
Hi @alexandresaiz please drop me an email with your thoughts - alan@tableflip.io

[2016-03-30 12:53] #275 closed

[2016-04-08 11:46] okeniiawak commented on #165
:+1:
 It would be nice if this would be finally fixed.

[2016-04-09 11:51] hyphenbash commented on #165
+1 :+1:

[2016-04-13 08:17] ducin opened #280 "[question] use david for non-registered package.json?"
I've got a huge package.json with dependencies defined, but I don't want to publish the package.json, because the project will never be public. I could do an overcome by submitting a npm module with `package.json` file only, but this corrupts npm registry and is a dirty solution.

Is there a way to use david for just package.json files (and not npm registered node modules)?

[2016-04-13 08:23] alanshaw commented on #280
You could use the CLI - https://github.com/alanshaw/david

You could create a public github repo with jjust a package.json in it, stripped of everything other than the dependencies and somehow keep it in sync with your project.

[2016-04-13 08:26] ducin commented on #280
Cool, perfect, thank you!

[2016-04-13 08:26] #280 closed

[2016-04-13 11:48] mdopieralski commented on #165
+1 👍

[2016-04-14 10:24] dotnetCarpenter opened #281 "ecstatic version 1.4 is classified as insecure"
[ecstatic](https://github.com/jfhbrook/node-ecstatic/releases) version 1.4 is classified as insecure but the security patch has been applied in version 1.4. Only ecstatic < 1.4 suffer the Data crash bug from v8.

https://nodesecurity.io/advisories/ecstatic_illegal-access-crash-from-if-modified-since-header
https://david-dm.org/Firefund/firefund-cli

[2016-04-20 10:31] michaelzoidl commented on #165
+1 👍

[2016-04-20 15:26] KeithPepin commented on #173
Ditto on this one.  We also have private repositories that I can't provide write access to, but I would think read access would be all that's required to be able to get at the dependencies listing.

[2016-04-29 13:34] jsfr commented on #124
+1

[2016-05-12 07:34] mdopieralski commented on #165
Hi @alanshaw !

Is there any special action we'd need to take to make it work ? I tried to revoke access to david-rm on github, and log again to get 'read:org' access to app but it doesn't work :(

[2016-05-12 07:59] alanshaw commented on #165
What's the error message?

When you logged in again did github ask to update your scopes?

[2016-05-12 08:05] mdopieralski commented on #165
`Request URL:https://camo.githubusercontent.com/d93beae6d8cefe449f7e5d40ba3164e9805a7566/68747470733a2f2f64617669642d646d2e6f72672f4169726e617574732f6761746c696e672d66726f6e74656e642f6465762d7374617475732e737667
Request Method:GET
Status Code:404 Not Found
Remote Address:185.31.17.133:443
Response Headers
view source
Accept-Ranges:bytes
Age:0
Cache-Control:no-cache, no-store, must-revalidate
Camo-

[2016-05-12 08:06] mdopieralski commented on #165
![zrzut ekranu 2016-05-12 o 10 05 53](https://cloud.githubusercontent.com/assets/13620780/15207888/2671e8ce-1829-11e6-8ba9-3296e5cb230b.png)

And the response is the grey svg file with 'dependencies / devDependencies : unknown' text.

Yes, it did.

[2016-05-12 08:26] mdopieralski commented on #165
@alanshaw, sorry I didn't saw the second question. Yes, I clicked the authorize app button, and my organization allows to request the data from scopes.

[2016-05-12 09:52] alanshaw commented on #165
I'm guessing the proxy is the problem, we should add a token to the badge request for private repos as @bman654 suggested.

I think I misread or closed the wrong issue here - the fix I applied allows you to see the status _page_ for a private organisation - could you verify that works? The issue with the badge still exists.

[2016-05-13 16:47] philipmjohnson opened #285 "Request my repo status page gives "Error""
Sorry, I'm new to David, but shouldn't this work?

https://david-dm.org/radgrad/datamodel.json?path=app

My repo is:

https://github.com/radgrad/datamodel

with my package.json in the app/ directory.

Thanks for helping a newbie out.

[2016-05-13 17:39] alanshaw commented on #285
Is this what you're looking for?
https://david-dm.org/radgrad/datamodel/info.json?path=app

[2016-05-13 17:43] philipmjohnson commented on #285
Thanks for the quick reply, and sorry for the confusion. I am hoping for a project page for my project similar to this one:

https://david-dm.org/yoctore/yocto-hint

But

https://david-dm.org/radgrad/datamodel

Gets an error.

[2016-05-13 18:26] alanshaw commented on #285
https://david-dm.org/radgrad/datamodel?path=app

[2016-05-13 20:17] gabrielcsapo commented on #212
+1

[2016-05-13 21:11] philipmjohnson commented on #285
Well, that should have been obvious to me. :) Thanks for helping me out.

[2016-05-13 21:11] #285 closed

[2016-06-02 06:27] mdopieralski commented on #165
Hi @alanshaw. Yup, status page (and badges on them) works well for private organization.

[2016-06-02 13:51] wzrdtales commented on #124
A new branch is online building on top of the current david-dm version. The old branch stopped working for us as there seem to be some incompatible apis that have been introduced, so I took action on this here again.

For everyone interested:

https://github.com/wzrdtales/david-www/tree/gitlabNew

This time I probably going to place a PR for this, also the structure needs a bit of rework to actual

[2016-06-10 21:42] krainboltgreene opened #295 "Incorrect listing as "out of date" count"
https://david-dm.org/krainboltgreene/abstraction.js#info=devDependencies&view=table

It says I have 1 Out Of Date, but none of them are.

[2016-06-10 21:43] krainboltgreene commented on #295
It also marks moment as OOD with the security advisory, but I am definitely in line with the remediation version.

[2016-06-23 15:16] jescalan opened #303 "`?path=` no longer working"
See https://david-dm.org/static-dev/spike-tpl-base?path=root as an example -- directory is present in the repo and contains a `package.json` [as seen here](https://github.com/static-dev/spike-tpl-base/tree/master/root).

[2016-06-23 15:17] alanshaw commented on #303
That's not a valid JSON file so david-dm can't parse it.

[2016-06-23 15:20] jescalan commented on #303
Ah fair enough! Ah well, will have to figure out some other way. Thanks for the quick response!

[2016-06-23 15:20] #303 closed

[2016-07-12 09:03] revelt opened #320 "Potential security issues reported by Snyk.io"
Snyk reports quite alerting issues with this repo:
https://snyk.io/test/github/alanshaw/david-www
Let's patch up everything that's possible to patch!

[2016-07-12 11:05] gravis commented on #320
Nice! That's indeed a sneaky way to do your advertising...

[2016-07-12 11:12] revelt commented on #320
Well I have no affiliation with Snyk and it's free for OS, so no money's involved anyway 😃
But this doesn't change the subject, Snyk gives instructions what's problematic, so let's fix them if possible

[2016-07-12 11:50] gravis commented on #320
That's exactly what an advertiser would say :)

[2016-07-19 16:32] gabrielcsapo commented on #36
👍

[2016-08-08 15:13] XhmikosR opened #333 "Old devDependency links broke"
So the old links used `#info=devDependencies`. Now they use `?type=dev`.

There should be a redirect so that devDepepencies links aren't broken.

[2016-08-08 15:15] XhmikosR opened #334 "Favicons are missing"
It seems you used real favicon generator or something, but missed committing the files.

Example: https://david-dm.org/favicon-16x16.png

[2016-08-08 15:16] alanshaw commented on #333
👍

[2016-08-08 15:22] XhmikosR commented on #281
Doesn't seem to happen anymore.

[2016-08-11 17:50] XhmikosR opened #336 "Internal Server error"
So, say I use https://david-dm.org/appveyor/website it throws an internal server error.

The image works fine for the branch: [![dependencies Status](https://david-dm.org/appveyor/website/staging.svg)](https://david-dm.org/appveyor/website).

Shouldn't this case be handled and not throw an HTTP Error 500?

[2016-08-12 08:35] alanshaw commented on #336
Yes!

[2016-08-29 01:25] Mithgol commented on #173
+1

[2016-08-31 17:07] ownsideup opened #345 "Stuck at old project name"
Hello! I was using an old packages.json, and the name was different. After noticing it ant changing it, david was stuck on the old name.

https://david-dm.org/ownsideup/brainbot

[2016-08-31 18:08] alanshaw commented on #345
David caches `package.json` files for 1 hour - it has now been invalidated and updated

[2016-08-31 18:08] #345 closed

[2016-08-31 18:10] ownsideup commented on #345
Thank you

[2016-09-02 16:06] XVincentX commented on #96
How did you solve this?

[2016-09-02 16:14] alanshaw commented on #96
Add `?path=` query param.

e.g. https://david-dm.org/alanshaw/non-root-package.json?path=src

[2016-09-24 03:06] rmharrison commented on #44
Any commentary on whether david-dm is 'safe' to use for private repos?

I was appalled when I looked at the authorization request scope:
![accessrequest-david-dm](https://cloud.githubusercontent.com/assets/4275722/18805613/62eb4770-81e0-11e6-9987-1c6707426712.png)

The application doesn't need write access to my repos, so why is he asking!?

If I'm RTFMing correcting, it doesn't look like github o

[2016-09-27 16:07] jakubzitny commented on #124
@wzrdtales what's the status of your fork right now?

[2016-09-27 16:31] wzrdtales commented on #124
@jakubzitny They have changed the structure of their project again, so I would need to rewrite that again.

However the current branch I posted is fully functional though, we are using it currently.

[2016-09-27 17:32] jakubzitny commented on #124
@wzrdtales Thanks for the info, I'll give it a try. 😉

[2016-09-28 19:35] timelf123 opened #350 "David website 500 if package.json only has devDeps"
https://david-dm.org/angulartics/angulartics

The [package.json](https://github.com/angulartics/angulartics/blob/master/package.json) only has devDependencies defined. Is this the reason for the 500? The badge for devDeps seems to work fine

[2016-09-29 07:28] alanshaw commented on #350
Should be working now. You have some odd whitespace at the start of your package.json.

[2016-09-29 07:28] #350 closed

[2016-09-29 14:48] timelf123 commented on #350
Thanks @alanshaw for fixing. I did not spot the whitespace with a cursory glance. If it's not too much trouble can you link the offending line?

[2016-09-29 15:37] alanshaw commented on #350
It's the first line, before the `{`

[2016-09-29 21:30] timelf123 commented on #350
How can I tell? It appears modified in the diff but I can't see any changes
https://github.com/angulartics/angulartics/commit/c8d7387b48594b2cdc208754fa97e5315f2fb76b

[2016-10-11 14:26] derhuerst opened #351 "504 gateway timeout"
[code]

[code]

[2016-10-11 15:08] derhuerst commented on #351
Generally, David seems to be extremely slow, both for `/` and for individual repos.

[2016-10-14 07:29] DblK opened #352 "[Docker] Move to alpine based image"
Hi,

First, thank for sharing your code with us. I was wondering why you use a node:6 images as based image since its weight is 654MB which is pretty heavy.
I would suggest to move to an alpine based such as [`mhart/alpine-node`](https://hub.docker.com/r/mhart/alpine-node/) which weight 49,08MB.

By the way, the "david" image doesn't seems to be on docker hub.

[2016-10-14 11:33] mk-pmb commented on #320
I think the reason why it looks like ad is that you make it click bait, instead of importing the issues as a todo list. I've tried to do so but failed to extract useful information from the linked site.

Its advice for each listed problem is "run our tool to fix it", and the claims of what that tool would do seem to all be about making a modified version of the `couchwatch` module, because its dep

[2016-10-14 11:34] revelt commented on #320
ok

[2016-10-14 11:34] #320 closed

[2016-10-14 14:36] alanshaw commented on #336
Closing as this issue seems to be fixed

[2016-10-14 14:37] alanshaw commented on #351
Looks likely that the recent slowness and disruption to service was caused by the [memory leak](https://github.com/nodejs/node/commit/7a59449478) in Node.js 6.7. This has now been resolved with an upgrade to 6.8.

[2016-10-14 14:37] #351 closed

[2016-10-14 15:50] XhmikosR commented on #336
Well, unless you did something, it's not fixed. imply put, the repo exists now and has a package.json thus you see no error.

[2016-10-14 15:57] alanshaw commented on #336
Oh, apologies. So the problem is that the site returns a 5xx error for a 404 - https://david-dm.org/foo/bar

[2016-10-14 16:00] XhmikosR commented on #336
Yup. :)

[2016-10-22 06:32] xPaw commented on #161
This is still a bug, and renders the badge completely useless as one of the projects I have it in has all the package versions pinned.

[2016-11-09 20:56] n054 commented on #165
@alanshaw it looks as though these commits have not been pushed through yet. I will give it a go, @n054.

[2016-11-30 18:56] makii42 opened #356 "Feature: simplifying URLs by relying on Referer header?"
While adding some dependency badges to repos, I was wondering why there is the necessity to specify user/org and repo name in the URL, as ideally this information is already passed via the `Referer` header.

It should be possible to expose a route for the badges as well the link to the package dependencies page by taking a look at the referrer. One would have to extracts the right portions, which

[2016-12-05 21:01] alanshaw commented on #356
That's a really interesting proposition and I'd love to see a pull request for this! My only hesitation is the extra traffic, since the service currently really struggles when response time from the npm/github APIs slows. So, encouraging more traffic on top of this might be problematic right now. However don't that stop you - this is a brilliant idea and I'd love to see it happen :rocket: 😍

[2016-12-06 10:53] alanshaw commented on #356
Just a thought, we should check the github proxy passes on the `Referer` header (I don't know why it wouldn't but worth a check before you start the work!)

[2016-12-15 10:30] PeterDaveHello opened #357 "Service unstable?"
Hi @alanshaw!
I just found that I keep getting error like `Internal Server Error` on https://david-dm.org, and the image/badge is also unavailable. Is there anything I can help? Thanks!

[2016-12-19 20:22] gabrielcsapo commented on #212
@alanshaw are you still interested in the help?

[2016-12-19 22:38] alanshaw commented on #212
Yes! SO MUCH! Do you have some free time?

[2016-12-19 22:39] gabrielcsapo commented on #212
@alanshaw got ample amount of free time to contribute back to OSS. Email me at gacsapo@paypalcorp.com?

[2017-01-14 16:26] jeffnyman opened #361 "Showing Wrong Version and Dependency as Out of Date, But Inaccurately So"
I'm literally just starting with this tool as we speak so I apologize if I'm missing something or if I'm encountering some transient issue that would go away if I just wait a bit.

Here is my module that is being tracked:

https://david-dm.org/jeffnyman/scribal-reader

This is showing my dependencies as out of date.
It says: Required scribal-gherkin: ^0.1.0

But that's not true.
Here is scribal-re

[2017-01-14 19:41] jeffnyman commented on #361
Closing this.

It appears my supposition at the start was correct: this was just a case of delay in processing.

[2017-01-14 19:41] #361 closed

[2017-01-25 02:03] makii42 commented on #356
So, the first pass is there, and instantaneously I found the first downside: This won't work in all contexts, e.g. [on npmjs.com](https://www.npmjs.com/package/david), as the `Referer` in this case only contains the package name, and the parse logic is still as dumb as possible right now.

Depending on how much logic is supposed to be on the server side, a resolution of such specific referrers is

[2017-01-25 09:46] OmarTrigui opened #363 "[Error] Unhandled "type" parameter errors"
The input needs to be sanitized !
[code]

[2017-01-25 10:01] alanshaw commented on #363
Thanks @OmarTrigui, will you send a pull request?

[2017-01-25 19:51] JoshSmith commented on #357
@alanshaw anything anyone can do to help on this?

[2017-01-26 14:59] pleerock commented on #357
@alanshaw same issues over a month already

[2017-01-27 06:21] OmarTrigui commented on #363
Yes, done.

[2017-01-27 06:21] OmarTrigui commented on #363
Yes, done.

[2017-02-07 16:50] larshp commented on #357
any news? it is getting really bad

[2017-02-07 17:02] PeterDaveHello commented on #357
No offense, if, I mean if, if there is no any updates, maybe we can try to host another one in the meantime.

[2017-02-07 19:44] alanshaw commented on #357
I have very limited time to work on david outside of my day job and I'm trying to work on this whenever I can so please be patient.

I believe the most recent downtime was that the david module was upgraded to use npm@4.x whereas the website was still using npm@3.x. I've now updated the website so they're both using the same version. Hopefully that'll help.

The wider issue is that the site is pop

[2017-02-07 20:22] PeterDaveHello commented on #357
@alanshaw thank you very much for your reply, at least we know what the problem is, if you need support or help, maybe could also let us know and we can see what we can help, thanks for your great work on it!

[2017-02-08 18:11] JoshSmith commented on #357
@alanshaw I think the consensus feeling here is not that we're frustrated by your lack of time to work on this. Really want to emphasize – even overemphasize if possible – how thankful we are that you do any of this at all.

Rather, I think we'd just love to see what's frustrating you or blocking you right now, raw and out in the open. That way we can help to share the load. It ain't heavy if we h

[2017-02-09 10:51] alanshaw commented on #357
Thanks @JoshSmith those kind of comments make it worth while 😄

[2017-02-09 18:54] rajsite opened #365 "Reports none when 17 dev deps and 1 out of date"
See the following status page: https://david-dm.org/ni/VireoSDK?type=dev

![image](https://cloud.githubusercontent.com/assets/1588923/22798268/ec75795e-eec6-11e6-8e15-a27ef9f4f109.png)

I would expect an orange up to date badge

[2017-02-10 12:02] alanshaw commented on #365
ooo, that's not right

[2017-02-13 19:11] #365 closed

[2017-02-13 19:27] rajsite commented on #365
@alanshaw I was browsing through and I'm curious if this code: https://github.com/alanshaw/david-www/commit/baf74b82711dd439d7297e24a9bd35b23f2ff810#diff-9ead3d77f16d7f3a8c380c297fa056e4R46

supports branches other than 'master' as the default. Our Github repository is configured for a default branch named 'incoming'.

![image](https://cloud.githubusercontent.com/assets/1588923/22899299/f3d08762-f

[2017-02-13 19:27] rajsite commented on #365
Also is there a way to specify a specific branch in the badge url? I don't see anything explicit on https://david-dm.org/

[2017-02-14 09:00] alanshaw commented on #365
Append the branch name onto the end of the path. e.g.
https://david-dm.org/alanshaw/david-www/no-batch

[2017-02-14 15:46] alanshaw commented on #357
Closing as stability has resumed. Thanks for reporting and all your comments 🥇

[2017-02-14 15:46] #357 closed

[2017-02-15 13:46] JoshSmith commented on #357
Awesome thank you for all your hard work on this @alanshaw. :raised_hands:

[2017-02-18 14:50] alanshaw commented on #71
Not websockets but old fashioned polls - that's good enough for now

[2017-02-18 14:50] #71 closed

[2017-03-01 14:48] adamdilibero opened #366 "Internal Server error"
After signing in & accepting OAuth for GitHub when I browse to my repo on: https://david-dm.org I'm getting a 500 Internal server error

I've tried removing the OAuth from Github, clearing everything from david-dm.org (Cookies, caches, histories, storage, browsing data) & then re-connecting my github account.

Same issue persists.

[2017-03-03 07:04] rahulmr opened #367 "Dependencies still showing out of date for gulp-protractor"
Hello,
https://david-dm.org/mllrsohn/gulp-protractor/
The dependencies is shown out of date even though details show everything up to date.
Any clue what is missing from my end.

https://david-dm.org/rahulmr/gulp-protractor/ shows everything green

[2017-03-08 11:34] dolanmiu commented on #367
same,

I am getting this with:

https://david-dm.org/dolanmiu/docx

All of it is green, why is the badge red, its so puzzling

[2017-03-09 15:09] tocttou commented on #367
Same issue here:

https://david-dm.org/Cloud-CV/cvfy-frontend?type=dev

[2017-03-10 09:06] dolezel commented on #367
Same issue:
https://david-dm.org/theoephraim/node-pg-migrate

[2017-03-12 04:34] ssoloff opened #368 "Badge status always "pending" when Git dependency present"
My David devDependency badge is always showing "pending" for one of [my projects](https://david-dm.org/ssoloff/dice-server-js/develop?type=dev) when I expect it to be "up to date" (yellow), based on the individual dependency statuses.  Below is a screenshot demonstrating this issue (just in case my dependency status changes by the time someone can take a look):

![david-dm-screenshot-with-pinned-g

[2017-03-14 21:46] jimjaeger opened #369 "Additional custom enterprise GIT hosting instance"
I tried to configure david against a custom GIT enterprise instance and it works. But it removes the option to get data from repositories from github.com. Is it possible to configure one or more additional GIT hostings? Can you add this functionality?

[2017-03-14 21:48] jimjaeger opened #370 "Additional NPM repository configuration"
Is it possible to configure an additional npm repository? If not can you add option to configure an additional npm repository in addtion to the official npm.org..?

[2017-03-15 06:28] jay-genhot opened #371 "npm run build, Cannot find module './routes' happen"
Hi team, when I try to build the project in the local, it reports Cannot find module './routes', I have no idea why this happen.
My local env is Windows 7, node.js version is 5.9.0

could someone help me about this? thanks.

[2017-03-15 08:16] alanshaw commented on #371
Do you have a stack trace you can paste here? Also please try upgrading to Node.js 6.x

[2017-03-15 08:16] alanshaw commented on #370
Duplicate of #369

[2017-03-15 08:16] #370 closed

[2017-03-15 08:18] alanshaw commented on #40
Search has been removed

[2017-03-15 08:18] #40 closed

[2017-03-15 08:20] alanshaw commented on #45
Recommend libraries.io for search

[2017-03-15 08:20] #45 closed

[2017-03-15 08:27] alanshaw commented on #369
It's not possible right now. I would welcome a PR, but it would have to encompass #94 also

[2017-03-15 10:28] jay-genhot commented on #371
C:\david-www>npm run build

Rendering Complete, saving .css file...
Wrote CSS to C:\david-www\public\bundle.css
src\config.js -> dist\config.js
src\lib\auth.js -> dist\lib\auth.js
Error: Cannot find module './routes' from 'C:\david-www\src\ui'
    at C:\david-www\node_modules\browser-resolve\node_modules\resolve\lib\async.js:55:21
    at load (C:\david-www\node_modules\browser-resolve\node_modules

[2017-03-15 10:31] jay-genhot commented on #371
and also, my teammates already install Node.js 6.x, but also come across this issue.

[2017-03-15 18:20] zartux opened #372 "node-pg-migrate erroneously shown as "out of date""
The image says "dependencies out of date" yet the detailed list says 6 are up to date.

https://david-dm.org/theoephraim/node-pg-migrate

[2017-03-23 13:10] jvanbruegge commented on #372
I have the same for my project: https://david-dm.org/cyclejs-community/cyclejs-sortable

[2017-03-28 03:43] mattstratton commented on #367
Same issue here https://david-dm.org/mattstratton/linter-cookstyle

[2017-03-28 22:12] getify opened #373 "confused by devDependencies status"
I'm confused by this... it clearly shows one of my dev dependencies as out of date, but the badge still says "up to date". Am I missing something?

![screen shot 2017-03-28 at 5 08 25 pm](https://cloud.githubusercontent.com/assets/150330/24429865/809a1090-13d9-11e7-87ff-2aff528e916a.png)

[2017-03-31 12:56] lusentis commented on #367
Same issue here https://david-dm.org/dawson-org/dawson-cli :(

[2017-03-31 13:04] dolanmiu commented on #367
I have found a solution.

Use this instead. It is much more reliable and accurate:

https://gemnasium.com/github.com/dolanmiu/docx

[2017-03-31 13:04] dolanmiu commented on #372
Same with here:

https://github.com/alanshaw/david-www/issues/367

[2017-03-31 13:05] dolanmiu commented on #295
Same with here:

https://github.com/alanshaw/david-www/issues/367

[2017-03-31 14:22] tocttou commented on #367
This project seems to be not maintained anymore.

[2017-04-01 10:53] alanshaw commented on #367
@tocttou this project IS maintained. If you'd like to submit a pull request to fix the issue, it would be appreciated.

[2017-04-02 03:17] tocttou commented on #367
Oh cool, I'll take a look.

[2017-04-03 09:51] dolanmiu commented on #373
Your issue is basically this issue:

https://github.com/alanshaw/david-www/issues/367

[2017-04-03 13:24] getify commented on #373
@dolanmiu seems like my symptoms are opposite of those in that thread. could be same underlying cause, or could be a different problem.

[2017-04-03 14:19] dolanmiu commented on #373
I would guess it's most likely the same underlying issue. It's essentially the status being de-synced.

Maybe it's lagging behind for some reason

[2017-04-05 16:31] dzearing opened #374 "Support for multi-package repos (rush or lerna repos)"
We have repos which contain multiple package.jsons. These repos use tools such as @microsoft/rush or lerna to manage installing dependencies, linking, building, and publishing them. [Babel](https://github.com/babel/babel/tree/master/packages), [React](https://github.com/facebook/react/tree/master/packages), [Angular](https://github.com/angular/angular/tree/master/modules), [Ember](https://github.c

[2017-04-10 09:33] alanshaw commented on #374
https://david-dm.org/OfficeDev/office-ui-fabric-react?path=packages/office-ui-fabric-react
https://david-dm.org/OfficeDev/office-ui-fabric-react?path=packages/utilities

[2017-04-10 09:33] #374 closed

[2017-04-10 15:00] dzearing commented on #374
@alanshaw Awesome, thanks!

[2017-04-14 07:12] dzikowski commented on #44
@rmharrison There seems to be a workaround. You can allow access to public repos only by changing the authorization scope from `repo` to `public_repo` in URL of a page, when GitHub asks for permissions for David.

See: https://superuser.com/questions/1064723/how-to-connect-to-github-only-for-public-repositories

[2017-04-20 01:02] rmharrison commented on #44
I'd like to use david-dm for *private* repos. I understand why read is required; write on the other hand...

[2017-04-20 03:34] rmharrison opened #375 "[Help] Cannot access private repos via github oauth"
Following the optional "sign in" feature on the README, I attempted to setup github oauth with a privately hosted david-www (AWS Elastic Beanstalk).

:+1: Works with public repos in AWS
:+1: Works with private repos with personal token via `.davidrc`
:+1: Returns `?success` when using oauth flow
  - Register application
  - Update `.davidrc`
[code]
  - Request crsf-token: http://david-www.devtools

[2017-04-26 00:18] gregswindle commented on #368
## Issue summary

One of my repositories -- [`gregswinde/generator-android-lib`](https://github.com/gregswindle/generator-android-lib/) -- has the same issue.

## Expected Behavior

The David-DM badge for [`gregswinde/generator-android-lib`](https://github.com/gregswindle/generator-android-lib/)'s dependencies should display display "dependencies | up to date" (in the green).

The badge for `gregs

[2017-04-27 19:25] elimcjah commented on #183
Noice.

[2017-04-29 21:50] alexbrazier opened #376 "Badge stuck on "dependencies:pending" even though dependencies loaded"
Both dependencies badges are stuck on "pending" for 3 days even though it has loaded the the dependencies on the site.

Project where this is happening can be seen here: https://david-dm.org/alexbrazier/package-bundle

Only thing I can think of that has stopped it from working is I tried to load the badges before the repository existed in github. (Using Atom markdown preview)

[2017-05-05 06:16] eisbehr- opened #377 "Badges not updating"
Hello,

the badges from my repository are not updating. The dependencies are all up-to-date but the badges showing `insecure` and `out-of-date`. Is there a problem or something I can do to update them?

- https://david-dm.org/eisbehr-/external-ip
[![dependencies Status](https://david-dm.org/eisbehr-/external-ip/status.svg)](https://david-dm.org/eisbehr-/external-ip)

- https://david-dm.org/eisbehr

[2017-05-05 06:29] eisbehr- commented on #367
@alanshaw Is the project really maintained?

I mean, two month of a problem with one of the core features, the badges, and it seems like nothing will happen here?! I think the main reason to use `david` are the badges, wich seems not to work correctly anymore, related to the amount of topics about the badges here. And the wrong informations the badges commit will cause users to not use some projec

[2017-05-09 07:22] #376 closed

[2017-05-09 18:04] aeimer commented on #377
I can see both badges up there with the text 'up to date'...

[2017-05-09 18:05] eisbehr- commented on #377
Yes, now. But this took days! I close this for now ...

[2017-05-09 18:05] #377 closed

[2017-05-09 18:46] aeimer commented on #366
Same Here. Connected with github, added badge to readme get a 'pending' and https://david-dm.org/h-da/geli Throws a 500...

[2017-05-09 18:49] aeimer commented on #336
I think the issue #366 handles the Same issue.

[2017-05-14 08:14] char0n opened #378 "Status always pending"
Hi,

Really great service, seems like https://david-dm.org/char0n/ramda-adjunct is always in pending mode. Can you think of any reason why ?

Thank you

[2017-05-19 01:05] BurtHarris commented on #173
Based on @gravis's comment, it sounds like the problem is that GitHub doesn't support an oauth scope for readonly access to private repositories.   What about the case where the repository is public?   Why would I need to grant read-write access to a public project?

[2017-05-31 07:52] aivus commented on #378
Hi, @char0n.

I don't see `dependencies` section in
https://github.com/char0n/ramda-adjunct/blob/master/package.json

It seems the reason of this status.

[2017-05-31 08:30] char0n commented on #378
Hi @aivus,

Some time after I reported this issue It started to work on it's own. Then I removed all the dependacies from package.json so I did not need the badge anymore. Thanks anyway. I can close this issue as resolved for now.

[2017-05-31 09:39] alanshaw commented on #378
This is a bug which I'm hoping has now been resolved by https://github.com/alanshaw/david-www/commit/6436f07bec18384d0d83a8e89b7fb40286da5bc8. If you don't have dependencies in your `package.json` your badge should be green and read "dependencies none", not pending.

[2017-05-31 09:39] #378 closed

[2017-05-31 09:56] alanshaw commented on #367
Thanks for your patients. I believe this bug has been resolved in by https://github.com/alanshaw/david-www/commit/6436f07bec18384d0d83a8e89b7fb40286da5bc8. Please comment if you notice this issue again.

[2017-05-31 09:56] #367 closed

[2017-05-31 09:56] alanshaw commented on #372
Thanks for your patients. I believe this bug has been resolved in by https://github.com/alanshaw/david-www/commit/6436f07bec18384d0d83a8e89b7fb40286da5bc8. Please comment if you notice this issue again.

[2017-05-31 09:56] #372 closed

[2017-05-31 09:57] alanshaw commented on #368
Thanks for your patients. I believe this bug has been resolved in by https://github.com/alanshaw/david-www/commit/6436f07bec18384d0d83a8e89b7fb40286da5bc8. Please comment if you notice this issue again.

[2017-05-31 09:57] #368 closed

[2017-05-31 09:59] alanshaw commented on #281
Please reopen if you notice this again

[2017-05-31 09:59] #281 closed

[2017-05-31 10:02] alanshaw commented on #186
* Green is all up to date
* Yellow is mostly up to date (<25% out of date)
* Red is out of date, or security vulnerability

I'd welcome a PR adding this info somewhere - either on on the hompage, or as a separate page.

[2017-05-31 10:06] alanshaw commented on #373
Badges may lag behind what you see on the status page slightly. Badge update requests are queued and serviced separately to page requests for the same information. If you wait for a few minutes and refresh the page you should see an updated badge (exact time depends on how busy the queue is).

[2017-05-31 10:06] #373 closed

[2017-05-31 10:11] alanshaw commented on #371
I've not tried building david on windows - did you resolve this? I'd welcome a PR to fix the issue if you figured it out.

[2017-05-31 14:59] getify commented on #373
I can certainly understand a few minutes or even a few hours (up to a full day!) lag. When I filed the OP, I was **weeks** past when the package in question (quint) had gone out of date. It was updated to 2.2.0 (and then 2.2.1) on Mar 19, but this OP was on Mar 28 and the badge was still lagging. That clearly seems like more than just normal propagation.

BTW, I cleared cache and tried in several

[2017-05-31 15:01] alanshaw commented on #373
If you notice the issue again please open another issue and I'll do my best to look into it at the time.

[2017-05-31 22:25] gabrielcsapo commented on #212
working on this @alanshaw 😄, just trying to get some time to finish it up and push a PR!

[2017-06-01 03:12] rahulmr commented on #367
@alanshaw seems fixed but on devDependencies I see it is orange when it should be red as one of the dev dependency is out of date and red. Check [here][1]

[1]: https://david-dm.org/mllrsohn/gulp-protractor?type=dev

[2017-06-01 08:31] alanshaw commented on #367
It shows yellow when < 25% of dependencies are out of date

[2017-06-01 16:09] ssoloff commented on #368
Thanks for following up on this, @alanshaw!  I confirmed I no longer have a Pending dev dependency badge.  However, all of my badges now show as Up to Date (Green), when they should all be Up to Date (Yellow) based on the individual dependency statuses.  Is this just a caching issue (i.e. do I have to wait a bit longer)?  Or possibly a different problem?

[2017-06-02 04:52] OmgImAlexis commented on #366
Same here, can't login at all.

[2017-06-04 08:23] dashersw commented on #366
Same here. Can't login.

[2017-06-04 10:51] OmgImAlexis commented on #366
@alanshaw is this being looked at?

[2017-06-05 18:17] n1ru4l commented on #366
Same for me

[2017-06-05 21:58] gregswindle commented on #368
Thanks, @alanshaw! It's working for me, now (as the badges in my [initial comment](https://github.com/alanshaw/david-www/issues/368#issuecomment-297201801) attest.

[2017-06-06 04:14] gabrielcsapo commented on #366
Started it up and configured the github options to point at public github with a new clientId and secret, works fine locally. Might just need to check the configuration on production.

[2017-06-06 05:37] OmgImAlexis commented on #366
@gabrielcsapo I replaced the url secrets. This is all I'm getting.

![screen shot 2017-06-02 at 2 21 17 pm](https://cloud.githubusercontent.com/assets/6525926/26815155/d3b067b2-4ac9-11e7-8e8b-166a0a2107b1.png)

[2017-06-06 17:56] gabrielcsapo commented on #366
Is that running locally @OmgImAlexis? I am running it locally

[2017-06-06 23:45] OmgImAlexis commented on #366
Nope that's the actual site.

[2017-06-07 08:25] alanshaw commented on #366
If anyone has time to submit a pull request that would be great!

[2017-06-07 09:13] aeimer commented on #366
@alanshaw What should the PR contain? I don't see a solution for this problem in this thread?
Or should someone debug through this and fix the problem?!

[2017-06-07 09:31] alanshaw commented on #366
Error in the server logs:

[code]

[2017-06-07 10:11] OmgImAlexis commented on #366
I've even tried deactivating david-dm in Github's OAuth apps section and logging in again but it still gives me that error. I've used david-dm before so I don't know why this is only happening now.

[2017-06-07 15:31] gabrielcsapo commented on #366
Yeah I tried to reproduce the issue locally, I am not seeing it. @alanshaw maybe it is a deploy issue?

[2017-06-08 01:41] kamronbatman commented on #366
I am getting the same issue on the actual david-dm.org site.

[2017-06-08 09:43] m67hoff commented on #366
I would like to try this but  I am getting the same issue on the actual david-dm.org site

[2017-06-10 22:41] jeantimex commented on #366
Same here, cannot sign in to https://david-dm.org, receive "Internal Server Error".

[2017-06-12 18:17] broccolini commented on #366
I'm also getting this error 😞

[2017-06-14 08:58] ericmorand commented on #368
How can this issue be closed when it is visually obvious that it is not resolved?

* OP Package: ![](https://david-dm.org/gregswindle/generator-android-lib.svg?theme=shields.io)
* One of my own packages: ![](https://david-dm.org/ericmorand/stromboli-plugin-twig.svg?theme=shields.io)

[2017-06-14 09:11] alanshaw commented on #368
Hi @ericmorand I'm just looking at this 11 minutes after you commented and your badges have already moved from pending to their appropriate states.

<img width="790" alt="screen shot 2017-06-14 at 10 09 38" src="https://user-images.githubusercontent.com/152863/27124676-be4ab88e-50e9-11e7-8844-d8950af04663.png">

[2017-06-20 23:41] andrevenancio commented on #366
still not working

[2017-06-21 00:12] raulfdm commented on #366
Browser Log:
[code]

[2017-06-21 06:31] OmgImAlexis commented on #366
@raulfdm that's not the issue, it's a server side error.

[2017-06-21 08:06] raulfdm commented on #366
@OmgImAlexis I know it's, but is the same situation: I try to use OAuth to login and I receive an message `internal server error` and I can't login. I just copy the console log

[2017-06-27 09:13] andrevenancio commented on #366
still no progress? :( its just OAuth!!!

[2017-06-27 18:20] gabrielcsapo commented on #366
Has anyone been able to reproduce locally? It doesn't look like there is a clear cause

[2017-06-28 01:13] OmgImAlexis commented on #366
@gabrielcsapo as per https://github.com/alanshaw/david-www/issues/366#issuecomment-306742465 it looks like it's a Oauth issue. Maybe more logging needs to be added where the stack trace is from.

[2017-06-28 01:55] gabrielcsapo commented on #366
will see if I can add PR with that logging, give me 15 minutes 😄

[2017-06-28 02:12] gabrielcsapo commented on #366
I think I found the problem

[2017-06-28 02:15] gabrielcsapo commented on #366
upon second glance and complete rebase, the issue was the value being received from the get call, https://github.com/alanshaw/david-www/pull/380 should fix the issue 😄

[2017-06-28 09:03] #366 closed

[2017-06-28 09:11] alanshaw commented on #366
Thanks @gabrielcsapo 😄

[2017-06-28 09:17] aeimer commented on #366
Yep, signing in works again :) Perfect :-*👌

[2017-06-28 09:57] gabrielcsapo commented on #366
Yay! :smile:

[2017-06-28 10:24] Fl4m3Ph03n1x commented on #375
Are you sure the path is correct? The error states it cant find the link.

[2017-06-28 12:25] OmgImAlexis commented on #366
That's fixed it. 👍

[2017-06-28 12:45] aeimer commented on #366
How long do you think David-dm needs to check for new repos? I still get the 500 and the badge is still pending. I have signed in with github. Is it necessary to be a admin of the organisation to add a repo to David dm?

[2017-07-03 12:20] aeimer opened #381 "Can't register Github Repo"
Hi,

so I'm a little confused how to get listed by david-dm...
I'm am talking about the repository: https://github.com/h-da/geli

I went to david-dm.org and signed in with my GitHub-Account, I then added the david-dm badge to the README. This is a few weeks ago and https://david-dm.org/h-da/geli still throws a 500. In realation to #366 I asume that my repo is not watched...

Because I'm not a Admi

[2017-07-03 13:16] alanshaw commented on #381
https://david-dm.org/khase/geli?path=app/webFrontend
https://david-dm.org/khase/geli?path=api

David looks for `package.json` in the root by default.

[2017-07-03 13:16] #381 closed

[2017-07-04 08:17] aeimer commented on #381
Ohhh yeah, got it :/ thank you for your super quick response :)

[2017-07-13 13:36] luebken commented on #124
Any news on this?

[2017-07-14 09:59] wzrdtales commented on #124
@luebken My fork is still functional, but not up to date with the latest version of david-dm though.

Haven't heard anything from @alanshaw in the whole discussion, though I also never submitted a PR. Anyone that feels he has a bit of spare time. Get my fork and rewrite it **again**, as david-dm had changed a lot from the last time I have looked at it. That was at the end of last year, so this is

[2017-07-14 18:50] gabrielcsapo commented on #124
I have some free time this weekend, will pick this up 😄. Thanks for doing the work to help with this, will use your fork as reference!

[2017-07-14 19:17] gabrielcsapo commented on #124
got a work in progress branch and PR sent in here https://github.com/alanshaw/david-www/pull/382

[2017-07-15 01:14] gabrielcsapo commented on #124
IT'S ALIVVEEEEE!!! @wzrdtales if you could verify with #382 I could only find a couple repos to test it with.

[2017-07-17 14:22] jipiboily commented on #124
Just to add on what @wzrdtales said, there is another money way to get it done with [Gemnasium](https://gemnasium.com/), [enterprise](https://gemnasium.com/enterprise/) or not.

https://gemnasium.com/enterprise/

[2017-07-20 07:07] #56 closed

[2017-07-20 13:47] eisbehr- opened #383 "David tells dependency is insecure. Is this a bug, or am I wrong?"
I have an issue with one of my repos. The badge shows `insecure` dependencies and this belongs to `jQuery`, as the detail page of `david` told me (and as this is the only dependency too).

https://david-dm.org/eisbehr-/jquery.lazy

The plugin depends on any version greater or equal than `1.7.2`. This is simply to keep the range as wide as possible, even for very old projects, like some IE stuff so

[2017-07-25 14:57] bonebizz21 commented on #336
Yes

[2017-07-31 06:46] guw commented on #374
@alanshaw Would it be worthwhile to keep that one open as a feature request for parsing lerna.json and coming up with an aggregate status of all packages?

[2017-09-14 11:45] ChrisDevinePimss opened #385 "Trying to use with organisation and private repo - 500 error"
I am trying to connect to a private repo within an org on github. I am unable to use david-www with it and instead it just gives a 500 error.

Has correct permissions with oauth too.

Am i doing somthing wrong?

[2017-10-04 13:33] SteveALee opened #386 "Just wanted to say this is awesome! Thank you!"

[2017-10-04 14:34] alanshaw commented on #386
❤️

[2017-10-05 20:51] Graham42 commented on #173
At the very least permissions should be request progressively. If we just want to use this tool for public repos, there is _no_ need for requesting repo access.

[2017-10-11 04:02] gilesbradshaw opened #387 "support monorepos"
say my package.json is in a subfolder I should be able to use a path like https://david-dm.org/username/repo/path/to/where/i/want

[2017-10-11 08:00] #386 closed

[2017-10-11 08:08] alanshaw commented on #383
Your range includes vulnerable versions.

People may have installed your module long ago and by virtue they may have installed a vulnerable version of jquery. Updating the version you depend on to not include a vulnerable version of jquery will force npm to install a version that isn't vulnerable rather than leaving the existing vulnerable version because it satisfies your range.

[2017-10-11 20:03] gilesbradshaw commented on #387
hey thanks :)

[2017-10-11 20:03] #387 closed

[2017-10-23 18:53] jkutianski opened #389 "Superagent dependency 3.7.0 still marked as vulnerable"
I updated Superagent to 3.7.x on my package but it's still marked as vulnerable on https://david-dm.org/jkutianski/meetup-api

[2017-10-25 09:43] alanshaw commented on #389
At a guess I'd say the advisory had a typo with the vulnerable versions that was updated after it was published. David doesn't automatically update advisories info it already knows about. I've restarted the service (which clears the advisories cache) and your dependency is now showing as not vulnerable.

HTH

[2017-10-25 09:43] #389 closed

[2017-11-01 20:20] jkutianski commented on #389
Thanks Alan.
Now it;s OK.

[2017-11-07 01:46] styfle opened #390 "React development build is used in production"
There must be a dev build of React being included on the david-dm.org website because the react dev tools are showing the warning below:

![image](https://user-images.githubusercontent.com/229881/32472992-489ea4ee-c333-11e7-8ffe-c1d451ba9be4.png)

Did you forget to set `NODE_ENV=production` environment variable?

https://github.com/styfle/react-server-example-tsx#deployment

[2017-11-14 11:42] #231 closed

[2017-11-15 15:10] dev-trilobyte commented on #173
There should be at least a choice possible between public repos only or public+private...

[2017-11-30 21:37] chronosis opened #391 "Incorrectly reporting package vulnerability for patched version of moment.js"
David is currently incorrectly reporting package vulnerabilities for moment.js version 2.19.3
For example: https://david-dm.org/MediaXPost/logstash-relay

However, the [Node Security Advisory](https://nodesecurity.io/advisories/532) specifically states that this only impacts versions <2.19.3

[2017-12-01 09:35] alanshaw commented on #391
Probably the same thing as this: https://github.com/alanshaw/david-www/issues/389#issuecomment-339274960

Fixed now

[2017-12-01 09:35] #391 closed

[2017-12-01 09:42] alanshaw commented on #390
The [ansible scripts install node modules with the `--production` flag](https://github.com/alanshaw/david-www-infrastructure/blob/master/provision/david-www/tasks/main.yml#L136).

The [`postinstall` script](https://github.com/alanshaw/david-www/blob/master/package.json#L42) runs build and minify.

I can see that the JavaScript _is_ minified: https://david-dm.org/bundle-23.1.0.js

Perhaps the `NODE

[2017-12-01 13:39] styfle commented on #390
@alanshaw Correct, you must set `NODE_ENV=production` during build time to get the optimized react output or include the [pre-built UMD script](https://cdn.jsdelivr.net/npm/react@16.2.0/umd/react.production.min.js) as an external.

See the docs here: https://reactjs.org/docs/optimizing-performance.html

[2017-12-20 11:32] 75lb opened #394 "could marking deps as "insecure" be optional?"
I'm no longer using David as it flagging certain deps as "insecure" is completely irrelevant and misleading in my case.

My app is a command-line development tool, it is only executed occasionally by a local user. David flags my app as being "insecure" due to a dep it has with a known XSS scripting vulnerability. This vulnerability is completely irrelevant in my case as the code is neither execute

[2017-12-24 17:09] JGriffin34432 opened #395 "How long does it take to update the dependences on the website?"
*How long does it take to update the dependences on the website?*

[2018-01-03 16:45] Kaffiend commented on #94
We use Jira and Bitbucket heavily on a daily basis in our shop. The two pair together flawlessly and i would love to have bitbucket support as well.

[2018-01-09 12:20] eran10 commented on #385
+1

[2018-01-09 15:26] #44 closed

[2018-01-26 11:56] johnjohndoe opened #396 "First steps"
What are the first steps to get _david-dm_ running for a GitHub project?

1. Visit http://david-dm.org
2. Click `Sign in` link in the top left, page updates accordingly
3. _Nothing happens?!_, there is no links to select a project to monitor

[2018-01-26 18:07] streetclaw opened #397 "electron - 1.6.16 - vulnerability"
According to the linked [node security information](https://nodesecurity.io/advisories/563), the [CVE](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000006) and the patch notes (https://github.com/electron/electron/releases/tag/v1.6.16). Version 1.6.16 is not vulnerable to [CVE-2018-1000006](http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000006) (the remote code execution bug).

[2018-01-27 09:10] alanshaw commented on #397
Do you have a project where you're seeing this issue?

[2018-01-27 20:20] streetclaw commented on #397
Yeah, I have one. It's fixed now. Thank you.

[2018-01-27 20:20] #397 closed

[2018-01-30 10:29] South-Paw commented on #396
Hi there, unsure if you're still stuck but figured I'd answer anyways.

There isn't really any setup steps... you just add some bits to the URL for your Github project.
The project just needs to have a valid `package.json` and david will do the rest in due course.

For example, one of my projects; https://david-dm.org/South-Paw/discord-music-bot

Badges can be retrieved by adding .svg to the end;

[2018-01-30 12:09] johnjohndoe commented on #396
Thank you - this helps. I recommend you put this explanation in the README since it was not obvious to me how to start. Other than that the issue can be closed.

[2018-01-30 12:18] #371 closed

[2018-01-30 12:21] alanshaw commented on #396
Would one of you send a PR?

[2018-01-30 12:21] #396 closed

[2018-01-30 21:03] South-Paw commented on #396
@alanshaw I don't think you need a PR at all as this is already there in the README...

The example usage right there:

![image](https://user-images.githubusercontent.com/2154764/35590904-21c02776-066d-11e8-99a6-b5ae3b0d07b4.png)

And as the project description states;

[code]

So both of what I stated above.

Sorry, but I honestly just think the reporter just didn't bother to read any of it and m

[2018-02-02 23:05] paulmelnikow commented on #336
Hi there! Thanks so much for your work on this project. I don't like to post +1 comments because they are usually are noise, when a 👍 on the top comment does just as well. However, I wanted to convey that there is some ecosystem impact from this issue.

I'm a maintainer of Shields, https://shields.io/, which developed the badge standard and hosts standardized versions of many badges (about 450 mil

[2018-02-06 13:43] jkutianski opened #398 "dependencies `pending` with up to date dependencies"
My module has all dev dependencies up to date but the SVG shows  [![pending](https://david-dm.org/jkutianski/d3-clone/dev-status.svg)](https://david-dm.org/jkutianski/d3-clone?type=dev)

[2018-02-06 14:32] alanshaw commented on #398
badge is pending whilst in the queue

[2018-02-06 14:32] #398 closed

[2018-02-24 17:51] blgm commented on #390
You need to set `NODE_ENV=production` **and** use dead code elimination using `uglifyify` in order to get this warning to go away.  See PR #399 for details.

[2018-02-24 23:06] #395 closed

[2018-02-26 13:55] #390 closed

[2018-03-01 19:00] hildjj opened #401 "Certificate for david-dm.org about to be distrusted"
See: https://www.ssllabs.com/ssltest/analyze.html?d=david-dm.org

Looks like you might have gotten caught in one of the mass revocations also.

Suggested course of action: get a new cert ASAP.

[2018-03-01 20:55] dhruvdutt opened #402 "Badge status always "pending""
- [URL](https://david-dm.org/dhruvdutt/webpack-cli)
- [`package.json`](https://github.com/dhruvdutt/webpack-cli/blob/master/package.json)

[![Dependency Status](https://david-dm.org/dhruvdutt/webpack-cli/status.svg)](https://david-dm.org/dhruvdutt/webpack-cli) [![Dependency Status](https://david-dm.org/dhruvdutt/webpack-cli/dev-status.svg)](https://david-dm.org/dhruvdutt/webpack-cli?type=dev)

The

[2018-03-03 13:49] edmorley commented on #401
This has now been resolved (see also alanshaw/david#141) :-)

[2018-03-03 13:50] #402 closed

[2018-03-03 13:50] #401 closed

[2018-03-03 13:52] dhruvdutt commented on #402
Awesome! Thanks @alanshaw :rocket:

[2018-03-03 14:11] alanshaw commented on #390
<img width="1248" alt="screen shot 2018-03-03 at 14 10 55" src="https://user-images.githubusercontent.com/152863/36935207-b806c8c4-1eec-11e8-9889-0f506ee08ea6.png">

\o/ thanks all

[2018-03-15 18:34] plroebuck commented on #333
[Cool URIs don't change](https://www.w3.org/Provider/Style/URI)

[2018-03-25 12:43] jeffminsungkim commented on #368
I'm having the exact same issue right now. I think this issue has to be reopened.

[2018-03-26 08:42] alanshaw commented on #368
@jeffminsungkim can you point me to your `package.json`?

[2018-04-02 12:27] pinalbhatt commented on #385
+1

[2018-04-08 17:58] chances commented on #212
Any news, @gabrielcsapo?

[2018-04-08 21:58] gabrielcsapo commented on #212
I was working on refresh here
https://starbuck.gabrielcsapo.com would be cool to get feedback and
eventually merge my changes into this main repo.

On Sun, Apr 8, 2018 at 10:58 AM Chance Snow <notifications@github.com>
wrote:

[2018-04-16 07:57] ncoden commented on #383
@alanshaw What about lockfiles ? If a lockfile is providen and the latest jQuery version pined in it, users with a vulnerable jQuery version will get it updated.

A package may be compatible with a large jQuery version range and `package.json` should only reflect this, letting the user to choose the actual version according to their use case. A lot of vulnerabilities are only relevant some particu

[2018-04-16 08:10] eisbehr- commented on #383
Yes, exactly this is my problem too! Nice idea from.

[2018-04-16 08:57] blgm commented on #383
@ncoden, unfortunately a `package-lock.json` file applies only to the top level package, The lockfile is ignored when installing modules from `npm`.  So if the `package-lock.json` only has secure versions, a user of that package does not benefit.
https://docs.npmjs.com/files/package-lock.json#description

[2018-04-16 09:07] eisbehr- commented on #383
As far as I undestand his suggestions, thats not the point. Davaid should just look to the `package-lock.json` in a project, if it uses secure deps or not. Because in the `package.json` the developers need to tell with what versions this project will work at least, but that has nothing to do with security. So @ncoden just suggested a way we could work around this ...

[2018-04-16 12:56] alanshaw commented on #383
I'm not sure I understand how this would work - could you provide some examples?

Specifically, I don't understand why you wouldn't just update the version in your `package.json`.

[2018-04-16 13:18] eisbehr- commented on #383
The `package.json` only specifies the versions a module is compatible with. And that can be a very wide range. It has nothing to do with security issues. You have a package that works with `jQuery 1.0.0` an up, then you tell it's working with this version.

The problem here is, that `David` forces the devs to put the version as high as possible in the `package.json` to be not shown as `insecure`.

[2018-04-16 17:07] blgm commented on #383
Would a [peer dependency](https://nodejs.org/en/blog/npm/peer-dependencies/) be an option?

[2018-04-17 12:56] blgm commented on #383
If `jQuery` were a peer dependency of your module, then users would have to install it independently (it would not be automatically installed when your module is installed).  Because David-dm does not check that peer dependencies are up to date, your badge would go green.

I realise this is a tradeoff because it changes the contract with your users.  But perhaps a peer dependency is a better descr

[2018-04-18 01:36] jeffminsungkim commented on #368
@alanshaw Not sure why, but the issue has been resolved.

[2018-04-19 22:04] johnnyBira commented on #368
Got the same issue:
https://david-dm.org/johnnyBira/responsive-props

[2018-04-25 10:08] kevindice opened #404 "Return 404 for wrong badge url (missing '/status')"
For a while, I had incorrectly been using `https://david-dm.org/cnap-cobre/synapse.svg?path=frontend` as my badge.  As you can see (as of now, 04/25/2018) it returns an SVG with status = pending.

![Dependency Freshness](https://david-dm.org/cnap-cobre/synapse.svg?path=frontend)

I think this probably shoudl return a 404 instead.  The correct URL is `https://david-dm.org/cnap-cobre/synapse/status.

[2018-04-25 10:10] kevindice commented on #404
Oops, my problem was `.../synapse.svg?frontend` rather than `.../synapse.svg?path=frontend`.  That explains it.  Closing...

Had the perfect issue number too. (#404)

[2018-04-25 10:10] #404 closed

[2018-05-11 02:49] sangaman commented on #368
Same issue here: https://david-dm.org/sangaman/http-jsonrpc-server

[2018-05-17 07:33] cipriandrusca opened #405 "angular2-json-schema-form style"
Hei David. I'm using your angular2-json-schema-form module as a dependency and I really don't know how to apply my styling classes to the field. Can you give me a hint or some ideas where and how this is done? Thank you 👍

[2018-05-20 18:59] deepsweet commented on #368
Same [here](https://david-dm.org/deepsweet/start?path=packages%2Fplugin-lib-eslint), [`package.json`](https://github.com/deepsweet/start/blob/master/packages/plugin-lib-eslint/package.json).

[2018-05-22 19:40] carlos-cubas opened #406 "https://david-dm.org/ on private repo"
We have a private repo in our organization called knowledge.ai?  when i go to the following url i get an internal server error.  the app works with public repos on the organization.  Is this supposed to work? or am I doing something wrong.

https://david-dm.org/tandfgroup/knowledge.ai

[2018-05-22 19:42] #406 closed

[2018-05-22 19:43] carlos-cubas commented on #385
I had posted the same problem on a separate issue, but i've closed that one. adding it here.

[2018-05-24 09:45] MrWook commented on #368
Same [here](https://david-dm.org/MrWook/mw-alert?type=dev)

[2018-06-01 05:58] pine opened #407 "Internal Server Error"
Hello. I cannot view my repository status.
It returns Internal Server Error.

<img width="507" alt="screen shot 2018-06-01 at 14 57 43" src="https://user-images.githubusercontent.com/5249050/40823680-322e74f2-65ac-11e8-9224-9be41d35e439.png">

https://david-dm.org/emoji-gen/web-main

Could you know what is wrong? Thank you.

[2018-06-01 09:29] alanshaw commented on #407
what's the github url?

[2018-06-01 16:33] pine commented on #407
@alanshaw
This is GitHub URL. `emoji-gen` is my organization.

https://github.com/emoji-gen/web-main

Thank you!

[2018-06-01 16:40] alanshaw commented on #407
You have no package.json in the root of your repo.

https://david-dm.org/emoji-gen/web-main?path=frontend - is that what you're looking for?

[2018-06-01 16:40] #407 closed

[2018-06-02 02:55] pine commented on #407
@alanshaw Thank you!

[2018-06-04 13:35] #186 closed

[2018-06-07 15:17] lealceldeiro commented on #407
The documentation in [**Monorepo or package.json not in root?**](https://github.com/alanshaw/david-www#monorepo-or-packagejson-not-in-root) is kind of misleading. This example is way clearer.

[2018-07-11 06:48] Borewit commented on #368
Same:
* [here](https://david-dm.org/Borewit/then-read-stream), monitoring [then-read-stream](https://github.com/Borewit/then-read-stream)
* [and here](https://david-dm.org/Borewit/strtok2), monitoring [strtok2](https://github.com/Borewit/strtok2)

[2018-07-19 19:58] dnl1 commented on #368
Same [https://david-dm.org/dnl1/league-of-legends-api](here)

[2018-08-03 07:59] goldingdamien opened #409 "MOST USED DEPENDENCIES link."
The "MOST USED DEPENDENCIES" tree is very useful.
It would be nice to have a link specifically to this tree data.
The reason for this is so it can be shared with other people and they know what it is.

Regards.

[2018-08-10 02:27] wopian opened #410 "Beta is considered newer than Release Canditates"
Recently updated one of my packages to the Babel 7 release candidate and noticed its now considered out of date. `rc` should have a [higher precedence](https://semver.org/#spec-item-11) than `beta`

![](https://i.imgur.com/z9IjXEF.png)

[2018-08-10 08:04] alanshaw commented on #410
Latest is meant to be the most recently published version.

There's no intelligent pre-release comparisons in there but that aside, when I look at `npm view @babel/runtime time` beta.56` is not the latest version, or was it released after `rc.1` so it looks like there's a bug somewhere here. Can you post the URL to the repo you're looking at?

[2018-08-10 08:42] tooomm opened #411 "document badge for 'devDependencies'"
I just found out with some investigation on how to get the `devDependencies` badge next to the normal `dependencies` one...

Please document on the page that it has to look like this:
`https://david-dm.org/org/repo/dev-status.svg`

[2018-08-10 08:47] tooomm opened #412 "request: show count of dependencies in tabs"
currently:
![dependencies](https://user-images.githubusercontent.com/9874850/43948117-345828f8-9c8a-11e8-8747-59f82ad3529e.png)

What do you think about something like:
| □ DEPENDENCIES (31) | □ DEVDEPENDENCIES (5) |

Also, I would not use all capital letters as it makes both hardly distinguishable.

[2018-08-10 08:49] tooomm opened #413 "request: gray 'latest' column with beta releases out"
For better visibility and stressing of the important last stable release version, I think the UX would benefit if the `latest` column would be in greyish color.

[2018-08-24 15:44] tooomm opened #417 "nodesecurity.io is shutting down september 30th"
See https://nodesecurity.io/ and https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting

[2018-08-28 16:53] brandonweiss opened #418 "Release candidate is considered newer than stable version"
I just updated a library to the latest version of Babel (7.0.0) and noticed that david-dm says it’s out-of-date because of the release candidate.

<img width="974" alt="screen shot 2018-08-28 at 9 53 20 am" src="https://user-images.githubusercontent.com/4727/44737934-38dc7600-aaa8-11e8-8a1f-b96852493b8f.png">

[2018-08-30 11:28] MikeKovarik opened #419 "Badge is stuck 'pending'"
I've tried to use david on couple of my projects throughout this year and it only ever worked for a couple of days. I tried to refresh the page and badge couple of times, come back in a day or two, login to david's homepage and all the usual things i could come up with. With no result.

For example I haven't updated [rage-edit](https://github.com/MikeKovarik/rage-edit) for couple of months now and

[2018-08-30 17:50] PauloGoncalvesBH commented on #418
I found the same situation with other library. Stable considered newer than latest version.

![react-testing-library](https://user-images.githubusercontent.com/29241659/44869411-e6e04f80-ac63-11e8-8809-64e10cb825ea.png)

[2018-09-26 14:41] ralego75 commented on #368
Same [here](https://david-dm.org/ralego75/swagger-ui-http), [package.json](https://github.com/ralego75/swagger-ui-http/blob/master/package.json)

[2018-09-28 21:10] s-herbert commented on #368
Samesies.
21 Dependencies total
 21 Up to date
0 Pinned, out of date
0 Out of date

yet,
"Pending"

[2018-10-03 17:09] muuvmuuv opened #420 "More badge options"
Would be nice to have the same style options like on https://shields.io/

![](https://img.shields.io/badge/style-plastic-green.svg?longCache=true&style=plastic)
![](https://img.shields.io/badge/style-flat-green.svg?longCache=true&style=flat)
![](https://img.shields.io/badge/style-flat--square-green.svg?longCache=true&style=flat-square)
![](https://img.shields.io/badge/style-for--the--badge-green.s

[2018-10-07 22:01] BM2830 opened #421 "44"
Hacked and stolen identity

[2018-10-08 01:49] #421 closed

[2018-10-08 13:04] ralego75 commented on #368
![image](https://user-images.githubusercontent.com/13320136/46610562-625ad980-cb0b-11e8-9ebe-0e80eaf6d48a.png)
Yet pending ...

[2018-10-08 23:15] daKmoR commented on #374
So having multiple (5+) package.json fils it would be really nice to have an aggregated badge. [Showing 10+ badges (dependencies + devDependencies) will probably defeat its purpose.

However, it seems this might be a bit out of scope for david dm... or is there any plan for something like this? (e.g. search through all files and pick up the package.json ones)
I'm just curious :)

[2018-11-03 22:09] guylepage3 commented on #420
Also would love to be able to extend color range as seen here..

https://img.shields.io/badge/style-flat-green.svg?logo=appveyor&longCache=true&style=flat&colorA=212121&colorB=007BFF

[code]

[2018-11-03 22:11] guylepage3 opened #422 "Add more styling options"
I would love to add more styling options.. (in addition to https://github.com/alanshaw/david-www/issues/420).

[![Popper version](https://img.shields.io/badge/Popper.js-v1.14.4-blue.svg?colorA=212121&colorB=007BFF)](https://www.npmjs.com/package/popper.js)

[code]

[2018-11-16 16:40] alanshaw commented on #368
<img width="775" alt="screenshot 2018-11-16 at 16 40 29" src="https://user-images.githubusercontent.com/152863/48634782-58f04700-e9be-11e8-96a2-5cc51df82f6a.png">

looks good to me...

[2018-11-21 07:00] erayhanoglu commented on #419
Me too

[2018-12-07 15:35] kamontat opened #423 "server down?"

[2018-12-17 21:40] tr1s commented on #419
Same here. Any word on this being fixed?

[2018-12-19 09:30] alanshaw commented on #419
Depending on the queue of badges to create it can take some time. If you have a badge stuck in "pending" then you need to post a link to it so that I can investigate.

[2018-12-19 09:52] erayhanoglu commented on #419
Here is some examples. This problem occurs frequently.
https://david-dm.org/panates/putil-promisify?type=dev
https://david-dm.org/panates/putil-waterfall
https://david-dm.org/panates/sqb-serializer-pg
https://david-dm.org/panates/sqb-serializer-pg?type=peer

[2018-12-19 19:39] tr1s commented on #419
@alanshaw yeah just took a couple days I guess. Seems fine now!

[2019-01-22 10:48] rosid86 commented on #363
$ curl http://localhost:1337/alanshaw/grunt-jsio?type=()
SyntaxError: Unexpected token < in JSON at position 0
   at JSON.parse (<anonymous>)
   at [My PATH]/david-www/node_modules/node-fetch/lib/body.js:48:15
   at process._tickCallback (internal/process/next_tick.js:103:7)

[2019-01-22 10:50] rosid86 commented on #212
david-dm.org has looked the same for nearly 3 years now, and it's starting to feel a little dated. Is there anyone who is or knows someone who'd be willing to donate some time to make david look nice again?

[2019-01-22 14:01] PierreBrisorgueil opened #424 "badge color : all up date but still yellow"
https://david-dm.org/weareopensource/node

I don't understand why ?

if someone can help me :)

[2019-01-22 14:02] PierreBrisorgueil commented on #424
it seems that the cache is longer on the color than on the text ..

my mistake, sorry.

[2019-02-10 13:37] PeterDaveHello commented on #423
Looks good now.

[2019-02-10 20:45] jfoclpf commented on #368
Didn't want to bother, but do you know how much time does it take to process? It's been 30 minutes already since I gave permissions and signup
<img src="https://david-dm.org/jfoclpf/autocosts.svg"/>

In any case I read the disclaimer :)

Thanks for the cool plugin

[2019-02-11 09:56] #423 closed

[2019-02-13 20:22] Dhivyanshup commented on #422
I warld love to d add more styling options..(in addition to 420)

![img_20180318_014533 5be7028e699206

- [ ]  #[](69099860](https://user-images.githubusercontent.com/45223414/48824853-945a8f00-ed8b-11e8-80c5-b2b177a8f85f.jpg))http://Dhivyanshuparmhans.com
### Dhivyanshu parmhans onily india

- [ ]  #[](69099860](https://user-images.githubusercontent.com/45223414/48824853-945a8f00-ed8b-11e8-80c5-b

[2019-03-04 15:50] chrisweb commented on #368
[![dependencies Status](https://david-dm.org/chrisweb/web-audio-api-player/status.svg)](https://david-dm.org/chrisweb/web-audio-api-player)

problem seems to be back (>24h since update)

[2019-03-04 20:00] Borewit commented on #368
@alanshaw, can you please re-open?
Issue is clearly not solved, still lots of gray badge icons.

[2019-03-04 20:03] Borewit commented on #419
Duplicate of bug #368.

[2019-03-19 12:32] EricLambrecht commented on #419
I have the same problem. Didn't update for 14 days now, yet it's still pending:

[![dependencies Status](https://david-dm.org/ericlambrecht/spotify-magician/status.svg)](https://david-dm.org/ericlambrecht/spotify-magician)
[![devDependencies Status](https://david-dm.org/ericlambrecht/spotify-magician/dev-status.svg)](https://david-dm.org/ericlambrecht/spotify-magician?type=dev)

My [`package.json`

[2019-03-19 19:25] Borewit commented on #419
It looks like the pending badge shields turned into a proper status to me.

[2019-03-20 07:34] dangen-effy commented on #368
same [here](https://david-dm.org/dangen-effy/joi-mongoose-indexes)

[2019-04-02 00:09] Offirmo commented on #160
Hi, thanks for this great tool! I can't manage to make this feature works in my monorepo:

https://david-dm.org/offirmo/offirmo-monorepo?path=4-incubator%2Fhello-world-npm

is indeed finding the package.json (displaying the real module name)  but it's missing the dependencies: it says "no dependencies".

[2019-04-02 00:10] Offirmo commented on #160
Or maybe it's a cache issue?

[2019-04-02 12:55] mbrookes opened #425 "Badges broken"
![image](https://user-images.githubusercontent.com/357702/55404008-f5bb1780-554e-11e9-8360-24422761179a.png)

https://github.com/mui-org/material-ui#material-ui

[2019-04-15 08:40] buskerone commented on #419
this is a recurrent problem

[2019-05-24 18:42] nponeccop opened #426 "Support non-default branches"
Sometimes more than 1 version of a package is maintained (e.g. 2.x and 3.x). So we need separate badges for separate branches. What about supporting `username/repo/branch` in addition to `username/repo` ?

[2019-06-03 15:40] YasharF commented on #419
Yes, from what I have captured this is recurring perhaps for when the badges are not called often enough.

https://github.com/pugjs/pug/pull/3146#issuecomment-498301700.  From earlier today:

At 8:28 PDT
![image](https://user-images.githubusercontent.com/6448697/58814407-827b6380-85da-11e9-8acc-7ab0b287386b.png)

At 8:33 PDT
![image](https://user-images.githubusercontent.com/6448697/58814518-bb1b3

[2019-06-14 14:40] liberodark commented on #385
Same for me

[2019-06-16 02:31] ryanjyost commented on #385
If anyone is still looking for a similar project and wants to bypass issues with private repos, I just built the first version of [DepChecker](https://depchecker.com/app). All you need to do is upload/paste a `package.json` and you're ready to generate a report.

Here's the link 👉[https://depchecker.com/app](https://depchecker.com/app) - feedback and feature requests appreciated!

[2019-06-18 15:55] dantehemerson commented on #420
I would like to work on this.

[2019-07-11 23:27] ilyakam commented on #419
Here's the link: https://david-dm.org/ilyakam/gulp-pug-linter?type=dev

It has been stuck like this for many months (possibly even years) now.

[2019-07-31 15:32] SalomonSmeke commented on #426
If I'm understanding you correctly, support for this was added around 4 years ago:

https://davidiswatching.tumblr.com/post/112632310569/branches-and-tags

[2019-07-31 15:47] #426 closed

[2019-08-05 21:40] #425 closed

[2019-08-07 09:21] ferrao commented on #419
Same thing here: https://david-dm.org/academia-de-codigo/noire-server

[2019-08-23 15:36] iansan5653 commented on #419
Same here https://github.com/iansan5653/unraw

[2019-09-19 05:52] renemadsen commented on #419
I get an Internal Server Error:

[https://david-dm.org/microting/eform-angular-frontend/eform-client/](https://david-dm.org/microting/eform-angular-frontend/eform-client/)

Is it because david-dm does not support package.json being placed in a subfolder?
That would be awesome, since the package.json cannot be moved, since the repository contains mixed content.

Repository in question is https://gi

[2019-09-19 06:55] YasharF commented on #419
@renemadsen, you would need to use the `path` query parameter if package.json is not in the root. aka `https://david-dm.org/microting/eform-angular-frontend?path=eform-client`

 [![Dependencies Status](https://david-dm.org/microting/eform-angular-frontend/status.svg?path=eform-client)](https://david-dm.org/microting/eform-angular-frontend?path=eform-client)

 [![Dependencies Status](https://david-

[2019-09-19 06:58] renemadsen commented on #419
@YasharF Thanks,

Where in the documentation is it possible to find this, maybe I'm not looking the right place.

[2019-11-04 15:27] KingDarBoja commented on #419
@YasharF This approach doesn't work for me, had to use for the dev one:
`[![Dependencies Status](https://david-dm.org/org/repo.svg?path=subrepo/path)](https://david-dm.org/org/repo?path=subrepo/path)`

But for the dev ones, I have no idea how to accomplish the same. Your approach only displays the `devDepencency` on pending status too.

[2019-11-04 15:52] YasharF commented on #419
@KingDarBoja See https://github.com/alanshaw/david-www/issues/419#issuecomment-498310597

[2019-11-04 15:55] KingDarBoja commented on #419
@YasharF So I do have to visit the url for each one in order to trigger the queue so the badges can be updated once again? Seems to be a bit annoying.

[2019-11-04 15:58] YasharF commented on #419
@KingDarBoja I am not a maintainer for this package, please don't tag me on postings.

[2019-11-23 21:16] DanielRuf opened #427 "Seems to be offline"
<img width="694" alt="Bildschirmfoto 2019-11-23 um 22 16 13" src="https://user-images.githubusercontent.com/827205/69485373-e28eec00-0e3e-11ea-8dbf-3774c2d5155c.png">

[2019-11-25 10:45] alanshaw commented on #427
Back now!

[2019-11-25 10:45] #427 closed

[2020-01-02 17:45] plastikfan commented on #419
Not sure what I'm missing, but how do I get my package on david-dm website? I've linked david-dm to my github account, but I don't lnow what to do next. If you go to david-dm.org/plastikfan/zenobia-ts, you just see an internal server error message instead the the page showing the state of dependencies. I also created a github token, but I don't know which rights its needs so I guessed, but its not

[2020-01-03 10:26] alanshaw commented on #419
Add a package.json file to your repo https://github.com/plastikfan/zenobia-ts

[2020-01-09 20:29] birjolaxew opened #429 "No longer tracks issues persistently"
Seems like something's going on with https://david-dm.org/ where it's no longer persistently tracking the packages it's been told to. This means that most packages get a ![pending badge](https://svgshare.com/i/HE4.svg) instead of the appropriate badge. This includes the badges in this projects README. These badges will update to their appropriate ones at some point, but will revert to the pending

[2020-01-10 17:30] birjolaxew commented on #429
Looks like this is not happening anymore.

[2020-01-10 17:30] #429 closed

[2020-01-14 00:47] adong commented on #427
@alanshaw 1/13/2020 down again.

[2020-01-14 02:46] amio opened #430 "Service is down"
It throws 502 error for webpage and api

![image](https://user-images.githubusercontent.com/215282/72309813-fd514480-36ba-11ea-9157-4dd973547faf.png)

[2020-01-15 13:27] YasharF opened #431 "Feature Request: deprecated packages"
Marking deprecated packages.  Currently, if a package is entirely deprecated, the consumers do not see that they are using a deprecated package as long as they are using the last published version.

I ran into this issue with the package `istanbul` .   Although the package is marked as deprecated in the npm's repo (https://www.npmjs.com/package/istanbul) , the last published version shows as a hea

[2020-01-16 07:59] amio commented on #430
It's back online now

[2020-01-16 07:59] #430 closed

[2020-08-11 09:08] alanshaw opened #433 "Add a button to manually clear cache for a badge"
Dependency badges are cached for a while before they are updated. Sometimes you update dependencies explicitly to address your badge colour - in this case you want the cache to be cleared immediately, but currently you just have to wait.

[2020-08-11 09:10] alanshaw commented on #412
You'd have to remove the "19 Dependencies total" from underneath, but yes that would be neat.

[2020-08-24 17:58] bnb opened #435 "Site down: 502 Bad Gateway"
Seems like the site is currently down ❤️

![image](https://user-images.githubusercontent.com/502396/91079302-e4761d80-e611-11ea-8709-d52454ce15ae.png)

[2020-10-09 17:20] mheob commented on #165
This would be a nice feature. Are there any plans after this long time?
Or have I overlooked something why private repositories of my organization do not work?

[2020-12-14 09:02] SFR-git opened #437 "David is rate-limited"
As mentioned in alanshaw/david#174, David is rate-limited and therefore the badge looks like this: ![](https://img.shields.io/badge/dependencies-repo%20or%20path%20not%20found%20or%20david%20internal%20error-lightgrey)

and when clicking over to david-dm.org, this error appears:
[code]

Sometimes, instead of `info.json`, it appears as `project.json`, but everything else is the same.

According to

[2020-12-15 19:42] alanshaw commented on #437
I've deployed a new backend and hopefully this will happen less now. david-dm.org does use an api token and heavily caches responses however there are a lot of requests to make! It's now using a persistent cache so shouldn't run into rate limiting issues when restarting.

[2020-12-15 19:42] #437 closed

[2021-01-14 08:29] paolocattani commented on #435
@bnb site is up now 😄

[2021-02-07 02:03] Martii opened #438 ""no healthy upstream" atm"
[![Using David][davidImageViaShields]][davidReport]

Thanks for the look.

[davidImageViaShields]: https://img.shields.io/david/openuserjs/openuserjs.org.svg?style=flat
[davidReport]: https://david-dm.org/OpenUserJS/OpenUserJS.org

[2021-02-07 16:25] Martii commented on #438
Seems to be okay now at the time of this comment creation.

[2021-02-11 18:19] rokumura7 opened #439 "Is it possible to specify the path to package.json to check?"
Is it possible to specify the path to package.json to check?
In my project which is mono-repository, I cannot get the badge because there is no package.json in the root directory.
Does anyone know how to do this?

[2021-02-11 21:10] alanshaw commented on #439
Yep https://davidiswatching.tumblr.com/post/132882415144/non-root-packagejson

[2021-02-11 21:10] #439 closed, assigned to nobody

[2021-02-11 21:20] rokumura7 commented on #439
It works✨
Thanks!

[2021-02-11 23:44] Martii commented on #438
And it's back today.

[2021-02-13 15:02] Martii commented on #438
And today it's working atm.

[2021-02-13 15:02] #438 closed, assigned to nobody

[2021-03-29 19:29] #435 closed

[2021-09-03 09:17] the-j0k3r commented on #357
@alanshaw The issues continue, this is yesterday and today when trying to go anywhere

![Capture](https://user-images.githubusercontent.com/31389848/131981129-97258af2-7d22-4ce9-a711-850f2c1574d8.PNG)

and this

![Capture](https://user-images.githubusercontent.com/31389848/131981671-163a58e6-0444-4e8c-b756-60d6642488ba.PNG)

Yesterday it worked here briefly and after half hour it went just as fast

[2021-09-04 09:34] #394 closed

[2021-10-04 05:14] #68 closed

[2021-10-05 03:10] philihp commented on #437
This appears to have happened again.

[2021-10-11 01:32] petamoriken opened #442 "Internal Server Error occurred"
It seems that node-fetch raises a `FetchError` for all repositories.

e.g. https://david-dm.org/bower/bower

[code]

Related: https://github.com/alanshaw/david/issues/179

[2022-01-08 12:44] mrseanryan opened #443 "connect ECONNREFUSED 127.0.0.1:3001"
Hopefully this is a config issue - but am raising it, as am stuck.

I followed the README and created a github PAT and added it to a new .davidrc file.

`npm start` does start up the website - and it is able to retrieve latest updates from npm

BUT if I try to use a URL to view a particular package, there is an error reaching local port 3001

[code]

1. Is there some config step I need to add?

2.

[2022-01-08 12:53] mrseanryan commented on #443
`projectApiUrl` is pointing to 'http://localhost:3001'

but there is no service running ...